{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load custom_tags %}
{% load account %}
{% load thumbnail %}

{% block page_title %}Личный кабинет{% endblock %}

{% block styles %}
    {{ block.super }}
    <link href="{% md5url 'css/account.min.css' %}" rel="stylesheet" type="text/css" media="screen"/>
{% endblock styles %}

{% block content %}

    {% user_display user as user_display %}
    <section class="bg-light p-4">
        <h2>Управление аккаунтом</h2>
        <div>
            Вы вошли как <b>{{ user.first_name }} {{ user.last_name }}</b> ({{ user_display }})<br/>
            E-mail: <b>{{ user.email }}</b>
            <p>
                [<a class="mx-1" href="{% url 'account_logout' %}">{% trans 'Sign Out' %}</a>]
                [<a class="mx-1" href="{% url 'account_email' %}">Сменить e-mail</a>]
                {% if not user.is_staff %}
                    [<a class="mx-1" href="{% url 'exhibition:deactivate-user' %}">Удалить аккаунт</a>]
                {% endif %}
            </p>
        </div>
    </section>


    {% if exhibitor %}
        <section class="person-details-container d-flex-column bg-light mt-4">
            <h2>Информация об участнике</h2>
            <div class="account-grid">
                {% if exhibitor.logo %}
                    <div class="logo exhibitors-logo account-logo">
                        {% thumbnail exhibitor.logo "300x300" as logo %}
                            <img src="{{ logo.url }}">
                        {% empty %}
                            <img src="{% get_media_prefix %}site/no-image.png">
                        {% endthumbnail %}
                    </div>
                {% endif %}

                <div class="card bg-light">
                    <div class="card-body">
                        {% for name, label, value, link in exhibitor %}
                            {% if value and label %}
                                <div class="person-details-item">
                                    <span class="card-text">{{ value }}</span>
                                </div>
                            {% endif %}

                            {% if not label %}
                                <div class="person-details-icon social-link btn-md">
                                    <svg class="icon {{ name }}">
                                        <use xlink:href="#logo-{{ name }}"></use>
                                    </svg>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="card-text account-card">
                    {% if obj.about %}
                        {{ obj.about }}
                    {% else %}
                        {{ obj.owner.description }}
                    {% endif %}
                </div>
            </div>
        </section>

        {% if exh_portfolio %}
            <section class="exh-portfolio bg-light p-4 mt-4">
                <h2>Выставленные проекты</h2>
                <a href="/portfolio/new" class="btn btn-outline mb-3" type="button">+ Добавить портфолио</a>
                {% regroup exh_portfolio by exh_year as years %}
                {% for year in years %}
                    <div class="card bg-light mb-3">
                        <h3 class="card-header">{{ year.grouper }}</h3>
                        <div class="card-body portfolio-grouped">
                            {% for obj in year.list %}
                                <li class="account-list-item">
                                    <div class="cover account-cover">
                                        {% thumbnail obj.project_cover "100x100" crop="center" quality=75 as cover %}
                                            <img src="{{ cover.url }}">
                                        {% empty %}
                                            <img src="{% get_media_prefix %}site/no-image.png">
                                        {% endthumbnail %}
                                    </div>
                                    <div class="account-meta">
                                        <h4 class="">{{ obj.title }}</h4>
                                        <small class="form-text text-muted">
                                            номинация:
                                            {% for nom in obj.nominations.all %}
                                                <i>{{ nom.title }}{% if not forloop.last %}, {% endif %}</i>
                                            {% endfor %}
                                            <br>
                                            статус:
                                            {% if obj.status %}
                                                <span class="text-success">Опубликован</span>
                                            {% else %}
                                                <span class="text-danger">Скрыт</span>
                                            {% endif %}
                                        </small>
                                    </div>
                                    {% if user %}
                                        <div class="account-actions">
                                            <a class="admin-edit-link"
                                               href="{% url 'exhibition:portfolio-upload-url' obj.id %}">
                                                <svg>
                                                    <use xlink:href="#edit-icon"></use>
                                                </svg>
                                            </a>
                                        </div>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </section>
        {% endif %}

        {% if designer %}
            <section class="add-portfolio bg-light p-4 mt-4">
                <h2>Вневыставочные проекты</h2>
                <a href="/portfolio/new" class="btn btn-outline mb-3" type="button">+ Добавить портфолио</a>

                <div class="card bg-light mb-3">
                    <div class="card-body">
                        {% for obj in add_portfolio %}
                            <li class="account-list-item">
                                <div class="cover account-cover">
                                    {% thumbnail obj.project_cover "100x100" crop="center" quality=75 as cover %}
                                        <img src="{{ cover.url }}">
                                    {% empty %}
                                        <img src="{% get_media_prefix %}site/no-image.png">
                                    {% endthumbnail %}
                                </div>
                                <div class="meta account-meta">
                                    <h4 class="">{{ obj.title }}</h4>
                                    <small class="form-text text-muted">статус:
                                        {% if obj.status %}
                                            <span class="text-success">Опубликован</span>
                                        {% else %}
                                            <span class="text-danger">На модерации</span>
                                        {% endif %}
                                    </small>
                                </div>
                                {% if user %}
                                    <div class="account-actions">
                                        <a class="admin-edit-link"
                                           href="{% url 'exhibition:portfolio-upload-url' obj.id %}">
                                            <svg>
                                                <use xlink:href="#edit-icon"></use>
                                            </svg>
                                        </a>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </div>
                </div>
            </section>


            <section class="achievements bg-light p-4 mt-4">
                <h2>Достижения</h2>

                {% if victories %}
                    <div class="card bg-light mb-3">
                        <h3 class="card-header">победы на Сфера-Дизайна</h3>
                        <div class="card-body">
                            <ol>
                                {% for obj in victories %}
                                    <li>
                                        <a class="text-weight"
                                           href="{% url 'exhibition:winner-detail-url' obj.exh_year obj.slug %}">
                                            {{ obj.title }}, {{ obj.exh_year }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                {% endif %}

                {% regroup achievements by get_group_display as groups %}
                {% for achievement in groups %}
                    <div class="card bg-light mb-3">
                        <h3 class="card-header">{{ achievement.grouper }}</h3>
                        <div class="card-body">
                            <ol>
                                {% for obj in achievement.list %}
                                    <li>
                                        {{ obj.title }}, {{ obj.date|date:"SHORT_DATE_FORMAT" }}
                                        {% if obj.link %}
                                            ссылка на сайт: <a href="{{ obj.link }}">{{ obj.link }}</a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                {% empty %}
                    <p>нет достижений</p>
                {% endfor %}
            </section>
        {% endif %}

        <section class="customers bg-light p-4 mt-4">
            <h2>Главные заказчики</h2>
            <div class="card bg-light mb-3">
                <div class="card-body">
                    {% for obj in designer.customers.all %}
                        <li class="account-list-item">
                            <div class="logo account-logo">
                                {% thumbnail obj.logo "100x100" crop="center" quality=75 as logo %}
                                    <img src="{{ logo.url }}">
                                {% empty %}
                                    <img src="{% get_media_prefix %}site/no-image.png">
                                {% endthumbnail %}
                            </div>
                            <div class="meta account-meta">
                                <h4 class="card-title">{{ obj.name }}</h4>
                                {% if obj.link %}
                                    <p class="card-text"><small class="text-muted">ссылка на сайт: <a
                                            href="{{ obj.link }}">{{ obj.link }}</a></small></p>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="customers bg-light p-4 mt-4">
            <h2>Партнеры</h2>
            <div class="card bg-light mb-3">
                <div class="card-body">
                    {% for obj in designer.partners.all %}
                        <li class="account-list-item">
                            <div class="logo account-logo">
                                {% thumbnail obj.logo "100x100" crop="center" quality=75 as logo %}
                                    <img src="{{ logo.url }}">
                                {% empty %}
                                    <img src="{% get_media_prefix %}site/no-image.png">
                                {% endthumbnail %}
                            </div>
                            <div class="meta account-meta">
                                <h4 class="card-title">{{ obj.name }}</h4>
                                {% if obj.link %}
                                    <p class="card-text"><small class="text-muted">ссылка на сайт: <a
                                            href="{{ obj.link }}">{{ obj.link }}</a></small></p>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% else %}
        <div class="my-3">
            <a href="/portfolio/new" class="btn btn-outline mb-3" type="button">Добавить портфолио</a>
        </div>
    {% endif %}


    {% if articles %}
        <section class="articles bg-light p-4 mt-4">
            <h2>Статьи</h2>
            {% for article in articles %}
                {% with article.id as article_id %}

                    <article id="article-{{ article_id }}" class="card bg-light mb-3">
                        <h3 class="card-header">
                            <a href="{% url 'blog:article-detail-url' article_id %}">{{ article.title }}</a>
                            {% if user.is_staff %}
                                <a class="admin-edit-link"
                                   href="{% url 'article'|admin_change_url:"blog" article.id %}">
                                    <svg>
                                        <use xlink:href="#edit-icon"></use>
                                    </svg>
                                </a>
                            {% endif %}
                            <div class="modified-date">{{ article.modified_date|date:"d.m.Y" }}</div>
                        </h3>

                        <div class="card-body">
                            {{ article.content|safe|truncatechars_html:350 }}
                            <div><u><i><a href="{% url 'blog:article-detail-url' article_id %}" class="link-dark">Перейти
                                к статье</a></i></u></div>
                        </div>
                    </article>

                {% endwith %}
            {% endfor %}
        </section>
    {% endif %}


    <section class="bg-light p-4 mt-4">
        <h2>Ваша активность</h2>

        <div class="user-ratings">
            <h3>выставленные оценки</h3>
            <ol class="user-ratings-list mt-2">
                {% for rate in rates %}
                    <li class="user-rating">
                        <span class="rating-counter">{{ forloop.counter }}.</span>
                        <a class="rated-owner"
                           href="{{ rate.portfolio.owner.get_absolute_url }}">{{ rate.portfolio.owner }}</a>
                        <span class="stars-block" title="{{ rate.portfolio.owner }}">
					{% for i in 5|count_range %}
                        <svg class="star{% if i < rate.star %} filled{% endif %}"><use
                                xlink:href="#star-icon"></use></svg>
                    {% endfor %}
				</span>
                    </li>
                {% empty %}
                    <i>оценки пока не выставлены</i>
                {% endfor %}
            </ol>
        </div>

        <div class="user-reviews">
            <h3>оставленные отзывы</h3>
            <ol class="user-reviews-list mt-2">
                {% for review in reviews %}
                    <li>
                        <div class="comment-block card bg-light">
                            <div class="card-header">
                                <a href="{{ review.portfolio.get_absolute_url|slice:':-1' }}#{{ review.id }}">
                                    <h3 class="user-comment-title">{{ review.portfolio.title }}</h3></a>
                                <i>{{ review.posted_date|date:"d b Y" }}</i>
                            </div>
                            <pre class="card-body"><p>{{ review.message|decode_emoji }}</p></pre>
                        </div>
                    </li>
                {% empty %}
                    <i>список пуст</i>
                {% endfor %}
            </ol>
        </div>

    </section>

{% endblock content %}
