{% extends "base.html" %}
{% load i18n %}
{% load custom_tags %}
{% load account %}

{% block meta %}
{{ block.super }}
	{# <meta http-equiv="Cache-Control" content="no-cache"> #}
{% endblock meta %}

{% block page_title %}Личный кабинет{% endblock %}

{% block content %}

{% user_display user as user_display %}
<p>
Вы вошли как <b>{{user.first_name}} {{user.last_name}}</b> ({{user_display}})<br/>
E-mail: <b>{{user.email}}</b>
</p>
<p>
[<a class="mx-1" href="{% url 'account_logout' %}">{% trans 'Sign Out' %}</a>]
[<a class="mx-1" href="{% url 'account_email' %}">Сменить e-mail</a>]
{% if not user.is_staff %}
[<a class="mx-1" href="{% url 'deactivate-user' %}">Удалить аккаунт</a>]
{% endif %}
</p>

{% if profile %}
<div class="person-detail-block">
	<div class="meta"></div>
</div>
{% endif %}

<section class="user-ratings">
	<h2>выставленные оценки</h2>
	<ol class="user-ratings-list">
	{% for rate in rates %}
		<li class="user-rating">
			<span class="rating-counter">{{ forloop.counter }}.</span>
			<a class="rated-owner" href="{{rate.portfolio.owner.get_absolute_url}}">{{rate.portfolio.owner}}</a>
			<span class="stars-block" title="{{rate.portfolio.owner}}">
				{% for i in 5|count_range %}
				<svg class="star{% if i < rate.star %} filled{% endif %}"><use xlink:href="#star-icon"></use></svg>
				{% endfor %}
			</span>
		</li>
	{% empty %}
		<i>оценки пока не выставлены</i>
	{% endfor %}
	</ol>
</section>

<section class="user-reviews">
	<h2>оставленные отзывы</h2>
	<ol class="user-reviews-list">
		{% for review in reviews %}
		<li>
			<div class="comment-block card">
				<div class="user-comment-header card-header">
					<a href="{{review.portfolio.get_absolute_url|slice:':-1'}}#{{review.id}}">
						<h3 class="user-comment-title">{{review.portfolio.title}}</h3></a>
					<a href="{{review.portfolio.owner.get_absolute_url}}">Автор: {{review.portfolio.owner}}</a>
				</div>
				<div class="user-comment-message card-body"><p>"{{review.message|decode_emoji}}"</p></div>
				<div class="comment-block-datetime card-footer">{{ review.posted_date|date:"d b Y" }}</div>
			</div>
		</li>
		{% empty %}
		<i>список пуст</i>
		{% endfor %}
	</ol>
</section>

<a  class="btn mt-2 btn-outline-primary" href="{{request.META.HTTP_REFERER}}">Вернуться</a>
<a class="btn mt-2 btn-outline-dark" href="{% url 'account_logout' %}">{% trans 'Sign Out' %}</a>
{% endblock content %}