
.exhibition
	p span
		font-weight: 700

	.excerpt
		margin-bottom: 0

	.description
		ol,ul
			display: grid
			margin-bottom: 1rem

		p, li
			color: $light-text-color

		img
			max-width: 450px
			margin: 0.3em 2vh 2vh 0
			+media-breakpoint-down(xl)
				max-width: 375px
			+media-breakpoint-down(md)
				display: block
				float: none !important
				margin: 0 0 1.5vh
			+media-breakpoint-down(sm)
				max-width: 100%
				margin: 0 0 1em

	.expanded .description
		margin-bottom: 1.5vh

	.banner-container
		position: relative
		display: block
		// margin-top: 1.5vh
		// margin-bottom: 6vh
		overflow: hidden
		visibility: visible
		flex: 100%
		.image-ratio
			position: relative
			width: 100%
			height: 0
			padding-bottom: 400px
			img
				object-fit: cover

	.exhibition-container > div
		position: relative
		padding: 3vh 0
		&:first-child
			padding-top: 0

	.partners-container.row
		--bs-gutter-x: 0

	.exhibition-details
		margin-top: 1em
		img
			width: auto !important
			margin: 2vh 0

		p
			color: $light-text-color
			letter-spacing: 1.5px
			a
				text-decoration: underline dotted

		.meta
			padding: 1em
			border: 1px solid $border-color

	.event-datetime p
		margin-bottom: 0

	.nominations-block
		.subtitle
			text-transform: lowercase
		a.exhibitor-link
			color: $text-color

	.exh-title ~ol,
	.exh-title ~ul
		margin-bottom: 0
		background-color: $highlight-block-bg
		//border-radius: 3px
		+media-breakpoint-down(sm)
			margin-left: -.75em
			margin-right: -.75em
		>li
			padding: 1.2em
			border-bottom: 1px solid #fff
			.event-details
				>p
					margin-bottom: 0
			&:first-child
				padding-top: 3vh
			&:last-child
				padding-bottom: 3vh
				border: 0


	.exh-title
		justify-content: start
		&:not(.subtitle)
			margin-top: 1.3rem
			text-transform: uppercase
			+media-breakpoint-down(sm)
				font-size: 1.4rem
			~*
				margin-top: 3vh

		~ul >li
			padding: 3vh 0

		&::after
			margin-left: 7px

		&.collapsed,
		&.expanded
			padding-right: 0.75em

	.subtitle ~*
		flex: 100%

	.gallery-block
		.gallery-grid
			grid-template-columns: repeat(auto-fill, minmax(105px, 1fr) )
			gap: 0.5em

.winners-list
	display: flex
	flex-direction: column
	gap: 1.5rem

	>li
		padding: 1.2em !important
		background-color: $highlight-block-bg
	ul li
		list-style-type: square


