@import vars
@import mixins

.navbar
	padding: 0
	+media-breakpoint-down(lg)
		max-height: 100vh
		overflow-y: auto

	.container-fluid
		margin: .6em 0
		z-index: 1

	.navbar-collapse
		background-color: $menu-bg
		z-index: 1
		+media-breakpoint-down(lg)
			.social-block
				position: absolute
				width: 40px
				bottom: 0
				right: 0.75em
				transform: translateY(100%)
				transition: all .7s ease
				opacity: 0

	&.expanded
		.navbar-collapse
			+media-breakpoint-down(lg)
				display: flex
				align-items: stretch
				&.show
					max-height: 100vh !important
				.social-block
					margin-top: auto
					transform: translateY(0%)
					opacity: 1


	.navbar-search
		display: none
		+media-breakpoint-down(lg)
			display: block

	ul.navbar-nav
		margin: 0 auto
		li.nav-item
			margin: 0
		+media-breakpoint-down(lg)
			margin: 0
			flex: 1

	li.nav-item
		.nav-link
			position: relative
			&::before
				content: ''
				position: absolute
				left: -3px
				top: 50%
				width: 3px
				height: 0
				background-color: #fff
				transform: translateY(-50%)
				//border-bottom: 3px #fff solid
				transition: all 150ms ease-out
			&:hover
				&::before
					//background-color: blue
					height: 1em
					//border-color: #000

	+media-breakpoint-down(lg)
		li.nav-item
			width: 100%
			.nav-link
				padding-left: 0.25rem !important
				padding-right: 0.25rem !important

		.dropdown-menu
			background-color: transparent !important
			&.show
				display: grid
				grid-template-columns: repeat(auto-fill, minmax(70px, 1fr) )
				gap: 2vw
				li
					//display: inline-flex
					//width: 70px
					//margin: 0 5px 10px
					border-radius: 5px
					box-sizing: content-box
					.dropdown-item
						padding: .25rem 0
						text-align: center

		.dropdown-menu.navbar-dark
			li
				border: solid 2px transparentize(#fff, 0.45)
				transition: all 150ms ease-out
				&:focus,
				&:hover
					border-color: #fff

@media (max-width: 575.98px) and (orientation: landscape)

	.navbar-dark:not(.expanded)
		background-color: transparentize($menu-bg, 1)
		transition: background-color 300ms 100ms ease-in-out


a.nav-link
	text-transform: lowercase
	white-space: nowrap
	&.account-link
		color: #fff
		font-weight: 300
		&:hover
			color: #fff


.navbar-dark
	background-color: $menu-bg
	.dropdown-menu.show
		+blur-background(10, $submenu-bg, 0.6)
		//background-color: $submenu-bg
	.navbar-toggler
		position: sticky
		top: 0
		margin-left: auto //0.5em
		padding: 0.25rem
		text-align: right
		+blur-background(10, $menu-bg, 0.4)
		border-color: transparent
		box-shadow: none
		z-index: 1000
		stroke: #fff
		stroke-width: 1.5px


.navbar-dark
	.navbar-nav .nav-link,
	.dropdown-item
		color: transparentize(#fff, 0.3)
		&:focus,
		&:hover
			background-color: transparent
			color: #fff

.nav-item .nav-search-link
	+media-breakpoint-down(lg)
		display: none

.nav-search-link
	margin-left: 2vw
	margin-right: 1vw
	.search-icon
		stroke: #fff
	+media-breakpoint-down(lg)
		margin-left: 0.25rem


.nav-social-link
	display: inline-block
	margin-right: 1vw
	svg.icon
		width: 24px
		height: 24px
		fill: #fff
		&.instagram
			//background-color: #ff543e
			stroke: $main-color
			stroke-width: 2

	+media-breakpoint-down(lg)
		display: block
		margin: 1em 0
		text-align: center

#searchContainer
	+push--absolute(0)
	display: flex
	margin: 0
	background-color: $menu-bg
	flex: 1
	transform: translateY(0%)
	transition: transform 300ms ease-out
	form.nav-search
		position: relative
		width: 100%
		max-width: 600px
		margin: 0 auto
		justify-content: center
		input
			height: 2em
			transition: all 150ms ease
			background-color: $menu-bg
			&:focus
				padding-left: 22px
		button[type="submit"]
			position: relative
			color: #fff
			border: none
			background-color: transparent
		.clear-input
			position: absolute
			left: 7px
			width: 5px
			height: 5px
			visibility: hidden
			&.show
				visibility: visible

	&.active
		transform: translateY(100%)


	+media-breakpoint-down(lg)
		position: relative
		margin: 0 0.7em
		form.nav-search
			position: absolute
			left: 0
			bottom: 75px
			height: 100%
			justify-content: start
			opacity: 0
			transition: all 300ms ease-out
			button[type="submit"]
				position: absolute
				right: 0
				color: $main-color

		&.active form.nav-search
			opacity: 1
			bottom: 0





