
//persons-list.html
//participant-detail.html

.participant
	.person-excerpt
		margin-bottom: 3rem

.persons-container
	margin: -$container-margin-lg/2
	justify-content: space-evenly
	+media-breakpoint-down(sm)
		margin: 0 -$container-margin

.person-details-block
	.logo
		max-width: $person-logo-max_w
		margin-left: 0

	.person-description
		font-size: 1.2
		letter-spacing: 1.5px


.person-logo
	margin: auto
	//background-color: #fff
	//padding: .5em
	mix-blend-mode: normal

.person-wrapper
	position: relative
	max-width: $person-logo-max_w
	padding: $container-margin
	+media-breakpoint-down(sm)
		padding: $container-margin

	.person-title
		//font-size: 1.2em
		text-align: center
		margin: .3em

	&:hover
		background-color: darken(#fff, 10%)
		transition: all 200ms linear
		.person-logo,
		.partner-logo
			mix-blend-mode: darken

.jury .person-logo
	filter: grayscale(1)
	&:hover, &:focus
		filter: grayscale(0)

.persons__list
	margin: 3vh $container-margin-lg
	flex: 100%
	+media-breakpoint-down(sm)
	margin: 3vh 0


