@use "sass:math"

//persons-list.html
//participant-detail.html

.participant
	.person-excerpt
		margin-bottom: 3rem


.person-details-block
	section:first-child
		margin-top: 0 !important

	.logo
		max-width: $person-logo-max_w
		margin-left: 0


.person-logo
	margin: auto
	mix-blend-mode: normal


.grid-container
	margin: math.div(-$container-margin-lg, 2)
	//justify-content: space-between

	.grid-cell
		position: relative
		max-width: $person-logo-max_w
		padding: $container-margin
		+media-breakpoint-down(sm)
			padding: $container-margin

		.person-title
			//font-size: 1.2em
			text-align: center
			margin: .3em

		&:hover
			border: 3px $main-color solid
			//background-color: darken(#fff, 10%)
			transition: all 200ms linear
			.ratio
				mix-blend-mode: darken

.jury .person-logo
	filter: grayscale(1)
	&:hover, &:focus
		filter: grayscale(0)

.persons__list
	margin: 3vh $container-margin-lg
	flex: 100%
	text-align: center
	+media-breakpoint-down(sm)
		margin: 3vh 0
		text-align: left


