@import vars
@import mixins


#searchContainer
	+push--absolute(0)
	display: flex
	margin: 0
	background-color: $menu-bg
	flex: 1
	transform: translateY(-100%)
	transition: transform 300ms ease-out
	form.nav-search
		position: relative
		width: 100%
		max-width: 600px
		margin: 0 auto
		justify-content: center
		input
			height: 2em
			transition: all 150ms ease
			background-color: $menu-bg
			&:focus
				background-color: #fff
				padding-left: 22px
		button[type="submit"]
			position: relative
			color: #fff
			border: none
			background-color: transparent
		.clear-input
			position: absolute
			left: 7px
			width: 5px
			height: 5px
			visibility: hidden
			&.show
				visibility: visible

	&.active
		transform: translateY(95%)


	+media-breakpoint-down(lg)
		position: relative
		margin: 0 0.7em
		form.nav-search
			position: absolute
			left: 0
			bottom: 75px
			height: 100%
			justify-content: start
			opacity: 0
			transition: all 300ms ease-out
			button[type="submit"]
				position: absolute
				right: 5px
				color: $main-color

		&.active form.nav-search
			opacity: 1
			bottom: 0


#search-result
	margin-top: 4vh

.search-item-title ~div
	margin-top: .5em
	margin-bottom: .5em
	+media-breakpoint-up(xl)
		margin-top: 1vw
		margin-bottom: 1vw


.search-item
	width: 100%
	padding: 1em
	margin-bottom: 4vh
	//background-color: $highlight-block-bg
	border: solid $border-thickness $highlight-border-color
	transition: 150ms border-color ease
	&:hover
		border-color: $main-color

	+media-breakpoint-up(md)
		display: inline-block

	+media-breakpoint-up(xl)
		padding: 2vw

.search-item-thumb
	+media-breakpoint-up(md)
		float: left
		max-width: 150px
		margin-right: 1em
	+media-breakpoint-up(xl)
		max-width: 300px
		margin-right: 2vw

.page-item
	padding: 5px
	.page-link
		display: inline
		padding: 0.5em
		color: $main-color
		stroke: $main-color
		border-radius: 0 !important
		&:last-child,
		&:first-child
			border-color: transparent
		&:hover
			border-color: $main-color

	&.active .page-link
		background-color: $main-color
		border-color: $main-color
	&.disabled .page-link
		stroke: transparentize($main-color, 0.5)

