@use "sass:math"
@import vars
@import mixins

.sidebar
	max-width: 300px

	&.sidebar-primary
		width: 75%
		border: unset
		+media-breakpoint-down(lg)
			overflow-y: auto
		+media-breakpoint-up(lg)
			position: relative
			height: 100%
			bottom: unset
			background-color: transparent
			transform: unset
			visibility: visible !important

	&-inner
		width: 100%
		height: 100%
		padding: calc($container-margin-sm + 4vh) $container-margin-sm
		+media-breakpoint-up(lg)
			padding: 0 $container-margin-sm $container-margin-sm 0

		ul.nav
			li
				display: table
				+push--auto

	.banner-link
		display: block
		height: auto
		margin-bottom: 2vw

	+media-breakpoint-up(lg)
		max-width: $col-width-lg
		flex: auto
		&.right-side
			width: 100%
			padding-left: $container-margin-lg
		&.left-side
			padding-right: math.div($container-margin-lg, 2)

	+media-breakpoint-up(xl)
		max-width: $col-width-xl

	+media-breakpoint-up(xxl)
		max-width: $col-width-xxl
		flex: 100%

		.sidebar-inner
			max-width: $col-max_w

	.btn-close
		position: absolute
		right: $container-margin-sm
		top: $container-margin-sm

	&-title
		margin-top: 0.5em
		margin-bottom: $container-margin-sm
		//text-transform: uppercase
		+media-breakpoint-down(lg)
			font-size: calc(1.4em + .2vw)

	form
		font-size: 0.9rem
		+media-breakpoint-up(lg)
			font-size: 0.8em
			button
				font-size: 1em

		.form-check-input:checked
			background-color: $main-color
			border-color: $main-color

		.filters-group
			padding-left: 3em
			+media-breakpoint-up(lg)
				color: $light-text-color

		.filter-attributes-block
			li
				margin: 5px 0
		button
			color: $main-color
			border-color: $main-color
			&:disabled
				opacity: 0.5


.articles .sidebar-primary
	transform: none
	visibility: visible !important
	+media-breakpoint-down(lg)
		z-index: 1000
		.sidebar-inner
			padding: $container-margin-sm * 2 $container-margin-sm


.participants .sidebar
	max-width: 180px


.sidebar-toggler
	display: inline-flex
	justify-content: flex-end
	flex: 100%
	margin-top: auto
	margin-bottom: 0.75em
	font-size: 0.9em
	svg
		height: 20px
		stroke: $main-color
		stroke-width: 0.3px


.nav-title
	color: $main-color
	border-bottom: 1px dotted $main-color
	transition: all 150ms ease-in-out
	cursor: pointer
	&.active
		font-weight: bold
	&.active, &:hover
		border-bottom: 1px solid $main-color

.form-switch .form-check-input:hover
	border: 1px solid $main-color !important
