
$grid-breakpoints: (xs: 320,sm: 576px,md: 768px,lg: 992px,xl: 1200px,xxl: 1400px)
$font-family-header: "Corbel"
$font-family-text: "Calibri"

$content-margin: 250px
$border-thickness: 3px

$main-color: #160D32
$menu-bg: $main-color
$submenu-bg: lighten($menu-bg, 10%)

$highlight-block-bg: #eee
$highlight-border-color: #ddd

$link-color: lighten($main-color, 10%)
$header-color: $main-color
$text-color: #333
$light-text-color: #555
$cell-text-color: #fff
$overlay-color: #222
$overlay-padding: 2vw
$star-off-color: #bbb
$star-on-color: orange
$comment-text: $text-color
$comment-bg: $highlight-block-bg
$logo-width: 300px