@import "../../node_modules/bootstrap/scss/functions"
@import "../../node_modules/bootstrap/scss/variables"
@import "../../node_modules/bootstrap/scss/mixins"

@import vars
@import mixins
@import fonts
@import reset
@import navigation
@import sidebar
@import layouts
@import person
@import exhibition
@import articles
@import preloader
@import search
@import account

html
	font-size: 16px
	+media-breakpoint-up(sm)
		font-size: 17px
	+media-breakpoint-up(lg)
		font-size: 18px

body
	display: flex
	flex-direction: column
	min-height: 100vh
	--bs-font-sans-serif: "#{$font-family-text}", Tahoma

h1, h2, h3, h4, .year-text, #main-title
	font-family: $font-family-header
	//font-weight: bold

h1
	color: $header-color
	text-transform: lowercase
	font-size: calc(2rem + 1vw)
	+media-breakpoint-up(lg)
		font-size: 3em

	span
		display: block
		font-size: .5em
		font-style: italic
		color: $text-color

h3, h4
	min-height: 0vw
	font-size: calc(1.1em + .2vw)
	font-weight: 500

h4
	font-size: calc(1em + .2vw)

a
	color: $link-color
	text-decoration: none
	outline: none
	cursor: pointer

	&.active
		font-weight: 500
	&:hover
		color: lighten($link-color, 20%)

ul li
	margin-bottom: 0.5em

*:not(.description)
	>ol
		padding-left: 0
		list-style-type: none
		//+media-breakpoint-down(xs)

li, img
	outline: 0

p
	img
		display: block
		max-width: 100%

	a
		font-weight: 500

form:not(.nav-search) >*
	margin-bottom: 2vh

img
	width: 100%
	height: auto
	text-indent: -9999px
	text-indent: 100%
	white-space: nowrap
	overflow: hidden
	transition: all 300ms ease-in-out

.ratio
	img
		object-fit: contain


.logo img
	width: auto
	height: 100%

// Avoid empty images to appear as broken
img:not([src]):not([srcset])
	visibility: hidden

img[data-sizes="auto"]
	display: block

.lazyloading,
.lazyload
	opacity: 0
	~figcaption
		@supports (backdrop-filter: blur(0))
			backdrop-filter: blur(3px)

.lazyloaded
	opacity: 1
	~figcaption
		@supports (backdrop-filter: blur(0))
			backdrop-filter: blur(0)

.loading, .loaded
	transition: opacity 500ms ease

.loading
	opacity: 0

.loaded
	opacity: 1 !important


.hidden
	display: none !important

.visible
	visibility: visible !important
	z-index: 10000 !important
	opacity: 1 !important

.collapsing
	transition: all 300ms ease-in-out

.modal-open
	position: static
	overflow: hidden
	-webkit-overflow-scrolling: auto

.no-select
	user-select: none
	-webkit-tap-highlight-color: transparentize(black, 1)
	-webkit-touch-callout: none


svg.icon
	width: 30px
	height: 30px
	&.arrow-icon
		&.up
			transform: rotate(-90deg)
		&.down
			transform: rotate(90deg)
		&.left
			transform: rotate(180deg)


.back-link
	svg
		stroke: black
		stroke-width: 3
		width: 22px
		height: 22px
		transform: rotate(180deg)
	+media-breakpoint-down(sm)
		top: $container-margin*2
		right: $container-margin*2

.btn
	color: $main-color
	background-color: #fff
	border-color: $main-color
	&:hover
		box-shadow: 0 0 1px 1px white inset, 0 0 1px 1px $main-color inset

.btn-primary, .btn-primary:hover
	color: #fff
	background-color: $main-color

.btn-primary
	&:hover
		box-shadow: 0 0 1px 1px white inset
	&:disabled,
	&.disabled
		color: transparentize(white, 0.65)
		background-color: $main-color
		border-color: $main-color


.social-link
	display: inline-block
	svg
		fill: $main-color
		//border-radius: 5px
		//background-color: $main-color
		&.vk
			//background-color: #4D76A1
		&.fb
			//background-color: #1976D2
		&.instagram
			//background-color: #ff543e
			stroke: white


#back2top
	--padding-var: $container-margin
	position: fixed
	bottom: var(--padding-var)
	right: var(--padding-var)
	transition: 500ms transform ease-in-out
	opacity: 1
	z-index: 10000
	&.disable
		transition: 500ms all ease-in-out
		visibility: hidden
		opacity: 0
		z-index: -1
	+media-breakpoint-up(sm)
		--padding-var: $container-margin-sm
	+media-breakpoint-up(lg)
		--padding-var: $container-margin-lg

.top-link
	padding: 3px
	background-color: $main-color
	opacity: 0.6
	.arrow-icon
		padding: .25em
		stroke: #fff
		stroke-width: 2
		&+span
			display: none
	&:hover
		opacity: 1

	+media-breakpoint-up(lg)
		padding: 0 .4em
		font-size: 0.8em
		background-color: initial
		&:hover
			color: #fff !important
			background-color: $main-color
		.arrow-icon
			display: none
			&+span
				display: block

#main-title
	overflow: visible
	text
		fill: $main-color
		stroke: $main-color
		stroke-width: 6px
		font-size: 122px
		text-transform: uppercase
		font-weight: 300
		letter-spacing: 1px

#site-header
	position: relative
	display: flex
	flex-wrap: wrap
	align-items: center
	padding-top: 1.5vh !important

	.brand-logo
		position: relative
		display: block
		//height: 100%
		width: $brand-logo-width - 10px
		margin-right: calc(#{$col-width-xxl} - #{$brand-logo-width - 10px})
		&.loaded
			& ~.banner-link, & ~.brand-text
				opacity: 1
		& ~.banner-link, & ~.brand-text
			flex: 1
			margin: 0
			height: $brand-logo-width - 10px
			transition: opacity 500ms 300ms ease-out
			opacity: 0
			overflow: hidden
			max-width: 100% - $col-width-xxl*2

	.brand-text
		max-width: $content-width_max /*+100px*/
		margin: -2em auto
		//padding-right: $brand-logo-width

	.year-text
		margin-left: 18%
		font-size: 2.7rem
		line-height: 0.6
		color: $main-color !important

	.back-link
		position: absolute
		top: 2.5vw
		right: 2.5vw
		display: flex
		align-items: center

	+media-breakpoint-down(xxl)
		.brand-logo
			width: $brand-logo-width - 20px
			margin-right: $col-width-xl - $brand-logo-width + 20px
			& ~.banner-link, & ~.brand-text
				height: $brand-logo-width - 20px
				margin-right: $col-width-xl
				max-width: $content-width_max
		.brand-text
			padding-right: 0

	+media-breakpoint-down(xl)
		.brand-logo
			width: $brand-logo-width - 40px
			margin-right: $col-width-lg - $brand-logo-width + 40px
			& ~.banner-link, & ~.brand-text
				height: $brand-logo-width - 40px
				margin-right: $col-width-lg
		.year-text
			font-size: 2.1em


	+media-breakpoint-down(lg)
		.brand-logo
			width: $brand-logo-width - 70px
			& ~.banner-link, & ~.brand-text
				height: $brand-logo-width - 70px
				margin-right: 0

	+media-breakpoint-down(md)
		padding-top: $container-margin-sm
		.brand-logo
			width: $brand-logo-width - 100px
			margin-right: $container-margin-sm
			& ~.banner-link, & ~.brand-text
				height: $brand-logo-width - 100px
		.year-text
			font-size: 1.4em


	+media-breakpoint-down(sm)
		.brand-logo
			width: $brand-logo-width - 130px
			margin-right: $container-margin
			& ~.banner-link, & ~.brand-text
				height: $brand-logo-width - 130px
				margin-right: $container-margin


.container
	position: relative
	display: flex
	flex-wrap: wrap
	width: 100%
	max-width: $container-max_w
	margin-top: 0
	flex-direction: column
	+media-breakpoint-up(md)
		flex-direction: unset
	+media-breakpoint-up(lg)
		margin-bottom: $container-margin-lg

	header
		padding: $container-margin*2 0 0
		flex: 100%
		+media-breakpoint-up(sm)
			padding: $container-margin-sm*2 0 0

	.content
		flex: 1
		max-width: $content-width_max
		+media-breakpoint-up(xxl)
			width: 100% - $col-width-xxl*2

.container, #site-header
	padding: 0 $container-margin
	+media-breakpoint-up(sm)
		padding: 0 $container-margin-sm
	+media-breakpoint-up(lg)
		padding: 0 $container-margin-lg

.flex-content
	margin: $container-margin 0
	+media-breakpoint-up(lg)
		margin-left: $col-width-lg
		margin-right: $col-width-lg
	+media-breakpoint-up(xl)
		margin-left: $col-width-xl
		margin-right: $col-width-xl
	+media-breakpoint-up(xxl)
		margin-left: $col-width-xxl
		margin-right: $col-width-xxl

.home
	.content
		max-width: $content-width_max
		flex: 1

	h1
		line-height: 1

	h1, h2
		//font-size: 1.2em
		font-weight: bold
		text-transform: uppercase

	section
		margin: 5vh 0
		header
			text-align: center
		.person-link
			display: block
		.row
			justify-content: center
			>*
				max-width: 150px

	.person-title
		margin-top: 0.5em

	.organizers-container
		.organizers-list
			margin: 0 -1.5rem
			justify-content: center

		.organizer-item
			flex: 1 1 auto


.participants, .exhibitions, .nominations, .project
	h1
		min-height: 0vw
		//margin-bottom: 3vw
		font-size: calc(1.5rem + 1vw)


.exhibition, .nominations
	h2
		margin-bottom: 0

.participant, .exhibition, .nominations
	h2
		font-weight: bold
		text-transform: lowercase
	h3
		margin: 0


.exhibitions-list
	.exh-title
		height: auto
		top: 50%
		transform: translateY(-50%)


.categories-list
	.grid-cell
		img
			padding: 10% 25% 40%
			background-color: #fff
			&~.img-title
				color: $main-color

		.category-title
			position: absolute
			padding: 65% 5% 5%
			text-transform: lowercase
			color: $main-color

		&:hover
			filter: invert(100%)
			border-color: #fff
			.category-title
				color: #000
				backdrop-filter: unset !important


.exhibitions-list, .categories-list
	.grid-cell
		background-color: $main-color
		transition: all 200ms linear
		&:hover
			background-color: #fff
			color: $main-color
			border-width: $border-thickness


.excerpt
	font-style: italic

.description
	position: relative
	transition: 500ms all ease
	a.read-more-link
		position: absolute
		display: block
		width: 100%
		//height: 40px
		bottom: 0
		text-align: center
		cursor: pointer
		&:before
			content: 'Свернуть'

	&.brief
		height: 300px
		overflow: hidden
		a.read-more-link
			padding-top: 80px
			background: linear-gradient(to top, #FFF 30%, rgba(255,255,255,0.6) 80%, rgba(255,255,255,0.1) 100%)
			&:before
				content: 'Читать далее'


.contacts
	+push--auto
	.form-container
		max-width: 600px

		.form-group
			margin-bottom: $container-margin-lg
			+media-breakpoint-down(sm)
				margin-bottom: $container-margin

#alertContainer
	position: fixed
	left: 0
	top: 0
	height: 100vh
	width: 100vw
	background-color: transparent
	transition: background-color 150ms linear
	z-index: 2
	.btn-close
		margin-left: auto
		padding: 0

	.alert-body h3
		border-bottom: 1px solid transparentize($text-color, 0.75)
		margin-bottom: 2vw

	>.alert
		display: flex
		flex-direction: column
		padding: 1em
		min-width: 300px
		max-width: 90%
		width: 100%
		color: $text-color
		background-color: #fff
		border: solid $border-thickness $highlight-border-color
		box-shadow: 0 0 1rem transparentize($main-color, 0.7)
		transform: translateY(-50px)
		opacity: 0
		+media-breakpoint-up(sm)
			width: 75%
			padding: 2vw
			font-size: 1.2em
		+media-breakpoint-up(md)
			width: 50%

		&.show
			opacity: 1
			transform: none
		&.fade
			transition: all 0.15s linear

.modal-open #alertContainer
	background-color: transparentize(black, 0.5)


.admin-edit-link
	svg
		width: 1rem
		height: 1rem
		margin-left: 5px
		fill: deepskyblue

#site-footer
	margin-top: auto
	padding: 2vh
	border-top: 1px solid $highlight-border-color
	.copyright
		text-align: center
