@use "sass:color"

@use "main/mixins"
@use "main/vars" as *

@use "main/fonts"
@use "main/reset"
@use "main/common"
@use "main/bootstrap-compat"
@use "main/navigation"
@use "main/collapse"
@use "main/sidebar"
@use "main/controls"
@use "main/buttons"
@use "main/form"
@use "main/canvas"
@use "main/layouts"
@use "main/person"
@use "main/articles"
@use "main/preloader"
@use "main/search"

:root
	--bs-body-font-family: "#{$font-family-text}"
	--bs-header-font-family: "#{$font-family-header}"
	--main-color: #{$main-color}
	--primary-color: #{$primary-color}
	--text-color: #{$text-color}
	--border-color: #{$border-color}
	--border-radius: #{$border-radius}
	--border-thickness: #{$border-thickness}
	--link-color: #{$link-color}
	--link-hover-color: #{$link-hover-color}

html
	font-family: var(--bs-body-font-family), Tahoma, serif
	font-size: 15px

	+mixins.media-min(sm)
		font-size: 16px
	+mixins.media-min(xl)
		font-size: 17px


h1, h2, h3, h4, .year-text, #main-title
	font-family: var(--bs-header-font-family), Arial, serif

h1
	color: $header-color
	text-transform: lowercase
	font-size: calc(1.8rem + 0.8vw)

	span
		display: block
		font-size: .5em
		font-style: italic
		color: $text-color

h3
	margin-bottom: 0.5rem
	font-size: calc(1.2rem + .2vw)

h4
	margin: 0
	font-size: calc(1rem + .2vw)

h3, h4
	min-height: 0
	font-weight: 500

.logo img
	width: 100%
	max-width: 300px
	height: auto

.controls
	position: relative
	flex: 100%
	margin-bottom: 0.75rem

	.back-link
		display: flex
		align-items: center

.filter-toggler
	display: flex
	gap: 4px

	svg
		width: 1.5rem
		height: 1.5rem

#back2top
	bottom: $container-margin-xs
	right: $container-margin-xs

	+mixins.media-min(sm)
		bottom: $container-margin-md
		right: $container-margin-md
	+mixins.media-min(lg)
		bottom: $container-margin-lg
		right: $container-margin-lg

#main-title
	overflow: visible

	text
		fill: var(--main-color)
		stroke: var(--main-color)
		stroke-width: 6px
		font-size: 122px
		text-transform: uppercase
		font-weight: 300
		letter-spacing: 1px

#site-header
	position: relative
	display: flex
	flex-wrap: wrap
	align-items: center
	gap: calc(#{$col-width-xxl} - #{$brand-logo-width - 10px})
	margin: 0 $container-margin-xs $container-margin-xs
	padding-top: 1.5vh !important

	+mixins.media-min(sm)
		margin: 0 $container-margin-md
	+mixins.media-min(lg)
		margin: 0 $container-margin-lg

	.brand-logo
		position: relative
		display: block
		width: $brand-logo-width
		margin-bottom: .75em

		&.loaded
			& ~ .banner-link, & ~ .brand-text
				opacity: 1

		& ~ .banner-link, & ~ .brand-text
			flex: 1
			margin: 0
			height: $brand-logo-width - 10px
			transition: opacity 500ms 300ms ease-out
			opacity: 0
			overflow: hidden
			max-width: 100% - $col-width-xxl*2

			& ~ h1
				flex: 100%
				text-align: center

	.brand-text
		max-width: $content-width_max
		/*+100px*/
		margin: -2em auto
	//padding-right: $brand-logo-width

	.year-text
		margin-left: 18%
		font-size: 2.7rem
		line-height: 0.6
		color: var(--main-color) !important


	+mixins.media-max(xxl)
		gap: $col-width-xl - $brand-logo-width + 20px
		.brand-logo
			width: $brand-logo-width - 20px

			& ~ .banner-link, & ~ .brand-text
				height: $brand-logo-width - 20px
				margin-right: $col-width-xl
				max-width: $content-width_max
		.brand-text
			padding-right: 0

	+mixins.media-max(xl)
		gap: $col-width-lg - $brand-logo-width + 40px
		.brand-logo
			width: $brand-logo-width - 40px

			& ~ .banner-link, & ~ .brand-text
				height: $brand-logo-width - 40px
				margin-right: $col-width-lg
		.year-text
			font-size: 2.1em


	+mixins.media-max(lg)
		gap: $col-width-md - $brand-logo-width + 40px
		.brand-logo
			width: $brand-logo-width - 70px

			& ~ .banner-link, & ~ .brand-text
				height: $brand-logo-width - 70px

	+mixins.media-max(md)
		padding-top: $container-margin-md
		gap: $container-margin-md
		.brand-logo
			width: $brand-logo-width - 100px

			& ~ .banner-link, & ~ .brand-text
				height: $brand-logo-width - 100px
		.year-text
			font-size: 1.4em


	+mixins.media-max(sm)
		gap: $container-margin-xs
		.brand-logo
			width: $brand-logo-width - 130px

			& ~ .banner-link, & ~ .brand-text
				height: $brand-logo-width - 130px
				margin-right: $container-margin-xs


.container
	position: relative
	flex-wrap: wrap
	width: auto
	max-width: $container-max_w
	margin: 0
	padding-left: $container-margin-xs
	padding-right: $container-margin-xs
	+mixins.media-min(sm)
		padding-left: $container-margin-md
		padding-right: $container-margin-md
	+mixins.media-min(md)
		flex-direction: unset
	+mixins.media-min(lg)
		padding-left: $container-margin-lg
		padding-right: $container-margin-lg
		margin-bottom: $container-margin-lg

	header
		padding: $container-margin-xs*3 0 $container-margin-xs*2
		flex: 100%
		+mixins.media-min(sm)
			padding: $container-margin-md*3 0 $container-margin-md*2

	.content
		justify-content: flex-start
		gap: 2vh
		flex: 1
		+mixins.media-min(xxl)
			width: 100% - $col-width-xxl*2


.flex-content
	margin: $container-margin-xs 0 !important
	+mixins.media-min(lg)
		margin-left: $col-width-lg !important
		margin-right: $col-width-lg !important
	+mixins.media-min(xl)
		margin-left: $col-width-xl !important
		margin-right: $col-width-xl !important
	+mixins.media-min(xxl)
		margin-left: $col-width-xxl !important
		margin-right: $col-width-xxl !important

.home
	.content
		max-width: $content-width_max

	h1
		line-height: 1

	h1, h2
		//font-size: 1.2em
		font-weight: bold
		text-transform: uppercase

	section
		header
			text-align: center

		.person-link
			display: block

	.person-title
		margin-top: 0.5em

	.organizers-container
		.organizers-list
			margin: 0 -1.5rem
			justify-content: center

		.organizer-item
			flex: 1 1 auto

.exh-description ul
	padding-left: 1rem

	li
		list-style-type: inherit

.participants, .projects
	header
		display: flex
		align-items: flex-start
		+mixins.media-max(sm)
			flex-direction: column

		h1
			flex: 100%

.participants, .exhibitions, .nominations, .project
	h1
		min-height: 0
//margin-bottom: 3vw
//font-size: calc(1.5rem + 1vw)


.exhibition, .nominations
	h2
		margin-bottom: 0

.participant, .exhibition, .nominations
	h2
		font-weight: bold
		text-transform: lowercase

	h3
		margin: 0


.winners-list
	h4
		font-weight: 300

.categories-grid .grid-cell
	img
		padding: 10% 25% 40%
		background-color: #fff

		& ~ .img-title
			color: var(--main-color)

	.category-title
		position: absolute
		display: flex
		align-items: flex-end
		justify-content: center
		padding: 65% 5% 5%
		text-align: center
		text-transform: lowercase
		color: var(--main-color)

	&:hover
		filter: invert(100%)
		border-color: #fff

		.category-title
			color: #000
			backdrop-filter: unset !important

.meta
	> div
		line-height: 2

		span
			color: #000
			font-weight: bold

.excerpt
	font-style: italic

.description
	position: relative
	transition: 500ms all ease

	a.read-more-link
		position: absolute
		display: block
		width: 100%
		//height: 40px
		bottom: 0
		text-align: center
		cursor: pointer

		&:before
			content: 'Свернуть'

	&.brief
		height: 300px
		overflow: hidden

		a.read-more-link
			padding-top: 80px
			background: linear-gradient(to top, #FFF 30%, rgba(255, 255, 255, 0.6) 80%, rgba(255, 255, 255, 0.1) 100%)

			&:before
				content: 'Читать далее'


.portfolio-rate
	margin-left: auto

	.rate-star
		position: relative
		height: 21px
		width: 21px
		margin-left: 3px
		fill: $star-on-color
		stroke: #fff

.portfolio-award
	svg.award
		width: 24px
		height: 24px
		margin: 0
		fill: orange
		stroke: white


svg.award
	width: calc(1.3rem + 1vw)
	height: calc(1.3rem + 1vw)
	margin-left: 9px
	margin-bottom: 9px
	fill: orange
	stroke: orange

.success-icon
	color: $success-color


.contacts
	+mixins.push--auto

	.form-container
		max-width: 600px
		margin: auto

		.form-group
			margin-bottom: $container-margin-lg
			+mixins.media-max(sm)
				margin-bottom: $container-margin-xs

		.send-button
			border-color: var(--main-color)

#site-footer
	margin-top: auto
	padding: 2vh
	border-top: 1px solid $highlight-border-color

	.copyright
		text-align: center

.upload-form
	select, .django-ckeditor-widget
		width: 100%

	input[type="text"]
		min-width: 100%

	.portfolio-image
		.form-label, .input-group-text, .upload-link .input-group
			display: none

		.input-group-text + div
			border: none

		input
			max-width: 100%

		textarea
			height: 6rem

		.image
			width: auto
			max-width: 300px

		.meta
			flex: 1

			> div
				width: 100%
				line-height: 1.2



