@import "../css/peppermint.css"

@import "../../node_modules/bootstrap/scss/functions"
@import "../../node_modules/bootstrap/scss/variables"
@import "../../node_modules/bootstrap/scss/mixins"

@import vars
@import mixins
@import rate
@import comments


figure
	position: relative
	display: flex
	height: 100%
	max-width: 100%
	margin: 0
	line-height: 1
	img
		height: 100%
		max-width: 100%
		margin: auto

// Portfolio grid

.portfolio-list
	display: flex
	flex-flow: row wrap
	justify-content: space-around
	width: inherit
	margin: 0 -1%
	overflow: hidden
	>figure
		flex: 100%
		width: 100%
		margin-bottom: 2%
		&:last-child
			margin-bottom: 0
		img
			position: relative

	.image-link
		margin: 0.8%
		transition: all 200ms linear
		overflow: hidden
		&:hover
			transform: scale(1.03)

		figure
			img
				position: absolute

	figure
		background-color: #ddd
		img
			left: 0
			right: 0
			top: 0
			max-height: 85vh
			object-fit: cover

		figcaption
			position: absolute
			bottom: 0
			width: 100%
			//bottom: 0
			h3
				padding: 1.5vw
				margin: 0
				color: #fff
				font-size: 0.8em
				text-align: center
				text-shadow: 0 0 1px #000
				+blur-background(9, $overlay-color, 0.6)
				z-index: 1
			.portfolio-image-title
				font-size: 1.2rem
				word-break: break-word


	.grid-item
		display: block
		flex: auto
		width: 33.333%
		min-width: 33.333%
		max-width: 100%
		max-height: 85vh
		padding: 1%
		margin: 0
		//padding-bottom: 2vw
		&-landscape
			width: 50%
			min-width: 50%
		&-portrait
			width: 25%
			min-width: 25%


	+media-breakpoint-down(sm)
		.image-link
			cursor: default
			&:hover
				transform: unset
		.grid-item
			flex: 100%

.mobile .portfolio-list
	.image-wrapper
		+responsive-ratio
		margin-bottom: 1.5em
		img
			max-height: unset

.project
	h1
		text-transform: uppercase
		word-break: break-word
		.sub-title
			font-size: 0.6em
			text-transform: lowercase
			font-weight: 300

	.container
		max-width: 1500px
		.content
			width: 100%
			max-width: unset
			+push--auto
			flex: auto
		.sidebar
			flex: 0

	.portfolio-container
		a
			font-weight: 500


// Slider
#overlay
	background-color: $overlay-color
	transition: all 300ms linear

	#slides-block
		height: 100%
		transition: transform 0ms ease

	>*
		transition: opacity 150ms linear
		opacity: 0

	&.show
		display: block
		visibility: visible
		>*, img
			opacity: 1
	ul,
	svg,
	figcaption
		+blur-background(9, $overlay-color, 0.6)
		//border-radius: 7px
		//border: 1px solid transparentize(#fff, 0.5)

	.controls-block svg
		height: calc(2em + 0.3vw)
		width: calc(2em + 0.3vw)
		&.arrow-icon
			height: calc(4em + 0.3vw)


.slider-container
	//+push--absolute(fixed)
	//overflow: hidden
	visibility: hidden
	display: block
	img
		object-fit: contain
		cursor: grabbing

	figcaption
		position: absolute
		top: $overlay-padding
		min-height: calc(2em + 0.3vw)
		padding: calc(3px + 0.3vh) calc(6px + 0.3vh)
		max-width: calc(100vw - (2em + 0.3vw + #{$overlay-padding*2}) * 2)
		color: #fff
		border: none !important
		.slide-title,
		.slide-description
			margin-bottom: 0
			font-size: calc(0.6em + .3vw)
		.slide-description
			margin: 0.5em 0 0

	ul.peppermint-dots
		position: absolute
		display: flex
		justify-content: center
		left: 50%
		bottom: $overlay-padding
		margin-bottom: 0
		max-width: calc(100vw - #{$overlay-padding} * 2)
		padding: calc(3px + 0.15vw) calc(8px + 0.15vw)
		transform: translateX(-50%)
		overflow: hidden
		+media-breakpoint-down(md)
			padding: calc(5px + .3vh) calc(10px + .3vh)
			> li
				width: 4px
				height: 4px
				&.peppermint-active-dot
					height: inherit
					box-shadow: 0 0 3px 2px white

		> li
			display: inline-block
			position: relative
			flex: 0 1 100%
			width: calc(10px + .3vw)
			height: calc(3px + .1vw)
			margin: calc(2px + .3vw)
			vertical-align: middle
			border: 1px solid #fff
			border-radius: 3px
			background-color: transparent
			transition: all 300ms linear
			user-select: none
			-webkit-tap-highlight-color: transparent
			cursor: pointer
			&.peppermint-active-dot
				border-color: #fff
				background: #fff
				box-sizing: border-box
				//height:  calc(10px + .3vw)
			+media-breakpoint-down(sm)
				margin: auto 2px

.controls-block
	+push--absolute($overlay-padding)
	display: flex
	align-items: center
	justify-content: space-between
	pointer-events: none
	z-index: 0

	.arrow-left
		transform: rotate(180deg)

	#close-button
		position: absolute
		top: 0
		right: 0

	svg
		fill: #ccc
		stroke: #fff
		opacity: 0.7
		transition: all 200ms ease
		pointer-events: all
		cursor: pointer
		&.arrow-icon
			+media-breakpoint-down(sm)
				display: none
		&:hover
			stroke-width: 2
			background-color: transparentize($overlay-color, 0.3)
			opacity: 1


@media (max-width: 575.98px) and (orientation: landscape)
	#banners-block
		display: flex
		align-items: center
		max-height: calc(100vh - 100px)


.banner-container
	figure
		img
			+push--absolute

	.controls-block
		svg
			width: 40px
			height: 40px
			padding: 5px
			border-radius: 5px
			//background-color: transparentize($overlay-color, 0.7)


.pinch-zoom-container
	width: 100vw
	height: 100%


