@import "../css/peppermint.css"

@import "../../node_modules/bootstrap/scss/functions"
@import "../../node_modules/bootstrap/scss/variables"
@import "../../node_modules/bootstrap/scss/mixins"

@import vars
@import mixins


.portfolio .container a
	font-weight: bold

// Portfolio grid

.portfolio-list
	margin: 0 -$content-margin
	width: inherit
	&:not(.grid)
		.grid-sizer
			width: 33.333%
		.grid-item
			display: block
			max-width: 100%
			width: 50%
			padding: 1%
			float: left
			//padding-bottom: 2vw
			&-landscape
				width: 66.667%
			&-portrait
				width: 33.333%


	&.grid
		gap: 0
		grid-template-columns: repeat(3, 1fr)
		.grid-item:nth-child(3n) img
			margin-left: auto

		+media-breakpoint-down(md)
			grid-template-columns: repeat(2, 1fr)
			.grid-item
				&:nth-child(2n) img
					margin-left: auto
				&:nth-child(3n) img
					margin-left: 0
					margin-right: auto

		+media-breakpoint-down(sm)
			grid-template-columns: repeat(1, 1fr)
			.grid-item
				margin: 0.4em 0
				grid-row: span 1
				grid-column: span 1
				&:nth-child(1n) img
					margin-left: auto
					margin-right: auto

		.grid-item-portrait
			grid-row: span 2
		.grid-item-landscape
			grid-column: span 2

		figure
			margin: 1vw

		@supports not (display:grid)
			display: flex
			flex-wrap: wrap
			justify-content: center
			align-items: flex-start

		.image-link
			margin: 0.8%
			@supports not (display:grid)
				flex: 1 1 25%
				max-width: 31.3%
			transition: all 200ms linear
			overflow: hidden
			cursor: pointer
			&:hover
				transform: scale(1.03)

		img
			height: 100%
			width: 100%

	figure
		max-width: 100%
		height: auto
		margin: 0
		line-height: 1
		img
			max-width: 100%
			max-height: 80vh
			object-fit: contain

		figcaption
			margin: 0.5em 0
			.portfolio-image-title
				font-size: 1.2rem
				word-break: break-word

	+media-breakpoint-down(xl)
		margin: 0 -$content-margin + 75px
		&.grid .image-link
			@supports not (display:grid)
				flex: 1 1 31%

	+media-breakpoint-down(md)
		margin: 0 -$content-margin + 125px
		&.grid .image-link
			margin: 0.5em
			@supports not (display:grid)
				flex: 1 1 47%
				max-width: 47%

	+media-breakpoint-down(sm)
		margin: 0
		&.grid .image-link
			@supports not (display:grid)
				flex: 1 1 auto
				max-width: 100%
			img
				max-height: 90vh


// Slider
#overlay
	background-color: $overlay-color
	transition: all 300ms linear
	&.show
		display: block

	ul,
	svg,
	figcaption
		+blur-background(9, $overlay-color, 0.6)
		border-radius: 7px
		border: 1px solid transparentize(#fff, 0.5)

	.controls-block svg
		height: calc(2em + 0.3vw)
		width: calc(2em + 0.3vw)
		fill: #ccc
		stroke: #fff
		opacity: 0.7
		transition: all 200ms ease
		pointer-events: all
		cursor: pointer
		&.arrow-icon
			height: calc(4em + 0.3vw)
			+media-breakpoint-down(sm)
				display: none
		&:hover
			stroke-width: 2
			background-color: transparentize($overlay-color, 0.3)
			opacity: 1


.slider-container
	//+push--absolute(fixed)
	//overflow: hidden
	visibility: hidden
	//z-index: -1
	display: block
	#slides-block
		height: 100%
		transition: transform 0ms ease

	>*
		transition: opacity 150ms linear
		opacity: 0

	&.show
		visibility: visible
		>*
			opacity: 1

	figure
		height: 100%
		img
			position: absolute
			max-width: 100%
			height: 100%
			margin: auto
			object-fit: contain
			cursor: grabbing

	figcaption
		position: absolute
		top: $overlay-padding
		min-height: calc(2em + 0.3vw)
		padding: calc(3px + 0.3vh) calc(6px + 0.3vh)
		max-width: calc(100vw - (2em + 0.3vw + #{$overlay-padding*2}) * 2)
		color: #fff
		border: none !important
		.slide-title,
		.slide-description
			margin-bottom: 0
			font-size: calc(0.8em + .3vw)
		.slide-description
			margin: 0.5em 0 0

	ul.peppermint-dots
		position: absolute
		display: flex
		justify-content: center
		left: 50%
		bottom: $overlay-padding
		margin-bottom: 0
		max-width: calc(100vw - #{$overlay-padding} * 2)
		padding: calc(3px + 0.15vw) calc(8px + 0.15vw)
		transform: translateX(-50%)
		+media-breakpoint-down(md)
			padding: calc(5px + .3vh) calc(10px + .3vh)
			> li
				width: 4px
				height: 4px
				&.peppermint-active-dot
					height: inherit
					box-shadow: 0 0 3px 2px white

		> li
			display: inline-block
			position: relative
			flex: 0 1 100%
			width: calc(10px + .3vw)
			height: calc(3px + .1vw)
			margin: calc(2px + .3vw)
			vertical-align: middle
			border: 1px solid #fff
			border-radius: 3px
			background-color: transparent
			transition: all 300ms linear
			user-select: none
			-webkit-tap-highlight-color: transparent
			cursor: pointer
			&.peppermint-active-dot
				border-color: #fff
				background: #fff
				border-style: border-box
				//height:  calc(10px + .3vw)

	.controls-block
		+push--absolute(absolute, $overlay-padding)
		display: flex
		align-items: center
		justify-content: space-between
		pointer-events: none
		z-index: 0

		#arrow-left
			transform: rotate(180deg)

		#close-button
			position: absolute
			top: 0
			right: 0


.pinch-zoom-container
	width: 100vw
	height: 100%


