# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules


# production
/build
/.idea

# development
resources/
media/*
static/*
src/img/

# Django #
__pycache__/
*.log
*.pot
*.pyc
migrations/

# Database #
*.sqlite3

# Sublime #
*.sublime-workspace
*.sublime-project

# Environment
.env
prod.env
.venv
venv/

# misc
.DS_Store


