crispy-bootstrap5
Django==4.2.13
django-allauth
django-ckeditor==6.5.1
django-cleanup
django-cors-headers
django-crispy-forms
django-debug-toolbar
django-environ
django-js-asset
django-redis
django-smart-selects
django-static-jquery-ui
django-tabbed-changeform-admin
django-uuslug
django-watson==1.6.2
Pillow==10.3.0
redis
requests==2.32.3
sorl-thumbnail
Wand
zipp
