Django
django-allauth
django-ckeditor==6.5.1
crispy-bootstrap5
django-cleanup
django-cors-headers
django-crispy-forms
django-jazzmin
django-debug-toolbar
django-js-asset
django-redis
django-smart-selects
django-static-jquery-ui
django-tabbed-changeform-admin
django-uuslug
django-watson
python-dotenv
dj-database-url
PyJWT
cryptography
Pillow
psycopg[c]
gunicorn
redis
sorl-thumbnail
Wand
zipp
requests

