{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% load cache %}
{% load thumbnail %}


{% block title %}{{ block.super }} {{separator}} {{ page_title }}{% endblock %}

{% block page_title %}{{ page_title }}{% endblock page_title %}


{% block content %}

	{% cache cache_timeout categories_list %}

	<div class="categories-list grid">
		{% for e in object_list %}
		<a class="grid-cell ratio ratio-1x1 centered" href="{{ e.get_absolute_url }}" title="{% if e.description %}{{ e.description }}{% else %}{{ e.title }}{% endif %}">
			{% if e.logo %}
			{% thumbnail e.logo "320" crop="center" as xs %}
			<img class="category-cover lazyload"
				src="{{ xs.url }}"
				loading="lazy"
				title="Раздел {{ e.title }}"
				alt="Номинация {% for item in e.nominations_set.all %}{{ item|join:' / ' }}{% endfor %}">
			{% endthumbnail %}
			{% endif %}
			<h3 class="category-title centered">{{ e }}</h3>
		</a>
		{% empty %}
			<h2>Список пустой</h2>
		{% endfor %}
	</div>

	{% endcache %}

{% endblock content%}
