{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block meta_og_type %}article{% endblock %}

{% block title %}{{ block.super }} {{ separator }} Мероприятие "{{ object.title }}"{% endblock %}

{% block site_title %}

    <h1><span>Мероприятие </span>{{ object.title }}</h1>
{% endblock site_title %}

{% block link %}
    <div class="controls">
        <a
                class="back-link arrow-left"
                href="
                        {% if request.META.HTTP_REFERER %}{{ request.META.HTTP_REFERER }}{% else %}/{{ model_name }}/{% endif %}"
                onclick="{% if request.META.HTTP_REFERER %}javascript:history.back(); return false;{% endif %}"
        >
            <svg class="icon arrow-icon">
                <use xlink:href="#arrow-icon"></use>
            </svg>
            &nbsp;назад
        </a>
    </div>
{% endblock link %}

{% block content %}

    <div class="event-details">
        <p><b>Выставка: </b>{{ exh_year }}</p>
        <p><b>Дата мероприятия: </b>{{ object.date_event }}</p>
        <p><b>Время мероприятия: </b>{{ object.time_event }}</p>
        <p><b>Площадка: </b>{{ object.location }}</p>
        <p><b>Организатор: </b>{{ object.hoster }}</p>
        <p><b>Ведущий: </b>{{ object.lector }}</p>

        <div class="event-details-description">{{ object.description|safe }}</div>
    </div>

{% endblock content %}
