{% extends 'base.html' %}
{% load cache %}
{% load custom_tags %}


{% block title %}{{ block.super }} {{separator}} {{page_title}}{% endblock %}

{% block page_title %}{{ page_title }}{% endblock page_title %}


{% block content %}

	{% cache 2592000 exhibitions_list %}

	<div class="exhibitions-list grid">
		{% for obj in object_list %}
		<a id="exh-{{obj.slug}}" class="grid-cell ratio ratio-1x1" href="{{obj.get_absolute_url}}" title="{{ obj.title }}">
			<h2 class="exh-title">{{ obj.slug }}</h2>
		</a>
		{% endfor %}
	</div>

	{% endcache %}

{% endblock content %}

