{% extends 'base.html' %}
{% load cache %}
{% load custom_tags %}


{% block title %}{{ block.super }} {{separator}} {{page_title}}{% endblock %}

{% block header %}
<h1>{{ page_title }}</h1>
{% endblock header %}


{% block content %}

{% cache 2592000 exhibitions_list %}

<div class="exhibitions-list grid">
	{% for obj in object_list %}
	<a id="exh-{{obj.slug}}" class="grid-cell img-ratio centered" href="{{obj.get_absolute_url}}" title="{{obj.title}}">
		<h2 class="exh-title">{{obj.slug}}</h2>
	</a>
	{% endfor %}
</div>

{% endcache %}

{% endblock content %}

