{% load static %}
{% load thumbnail %}

<div id="gallery" class="swiper modal fade" data-swiper-type="gallery">

    <div class="slides-block swiper-wrapper">
        {% for img in portfolio.images.all %}
            <figure class="swiper-slide swiper-zoom-container">

                {% thumbnail img.file "576" as sm %}
                    {% thumbnail img.file "992" as md %}
                        {% thumbnail img.file "1200" as xl %}
                            <img class="slide-img lazyload"
                                 src="{{ sm.url }}"
                                 data-src="{{ img.file.url }}"
                                 data-srcset="{{ sm.url }} {{ sm.x }}w, {{ md.url }} {{ md.x }}w, {{ xl.url }} {{ xl.x }}w, {{ img.file.url }} {{ img.file.width }}w"
                                 data-sizes="auto"
                                 data-expand="50"
                                 loading="lazy"
                                 style="max-width: {{ img.file.width }}px"
                                 title="{% if img.title %}{{ img.title }}{% endif %}">
                        {% empty %}
                            <img src="{% get_media_prefix %}no-image.png">
                        {% endthumbnail %}
                    {% endthumbnail %}
                {% endthumbnail %}

                <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>

                {% if img.title or img.description %}
                    <figcaption class="centered">
                        {% if img.title %}
                            <h3 class="slide-title">{{ img.title }}</h3>
                        {% endif %}
                        {% if img.description %}
                            <p class="slide-description">{{ img.description }}</p>
                        {% endif %}
                    </figcaption>
                {% endif %}

            </figure>
        {% endfor %}
    </div>

    <div class="swiper-pagination"></div>

    <a class="controls-block no-select" href="#">
        {% if portfolio.images.count > 1 %}
            <button class="btn-nav arrow-left">
                <svg class="arrow-icon icon">
                    <use xlink:href="#arrow-icon"></use>
                </svg>
            </button>
            <button class="btn-nav arrow-right">
                <svg class="arrow-icon icon">
                    <use xlink:href="#arrow-icon"></use>
                </svg>
            </button>
        {% endif %}

        <button class="btn-close btn-lg" data-dismiss="modal">
            <svg class="close-icon icon">
                <use xlink:href="#close-icon"></use>
            </svg>
        </button>
    </a>
</div>
