{% load static %}
{% load thumbnail %}

{% if portfolio.images %}

<div class="portfolio-list my-3{% if is_mobile %} grid{% endif %}">
	<div class="portfolio-preloader"><span>Загрузка...</span></div>

	{% for img in portfolio.images.all %}

	{% widthratio img.file.height img.file.width 100 as height_ratio %}

	{% if not is_mobile %}
	<a class="image-link grid-item{% if height_ratio|add:"0" < 75 %} grid-item-landscape{% elif height_ratio|add:"0" > 125 %} grid-item-portrait{% endif %}" href="{% get_media_prefix %}{{ img.file }}" title="{% if img.title %}{{ img.title }}{% else %}Проект {{ img.portfolio.title }}{% endif %}" style="max-width: {{ img.file.width }}px;">
	{% endif %}

		<figure class="image-wrapper" style="padding-bottom:{{height_ratio}}%">
			{% thumbnail img.file "320" as xs %}
			{% thumbnail img.file "576" as sm %}
			{% thumbnail img.file "992" as md %}
			<img id="image-{{forloop.counter0}}" class="image-img lazyload"
				src="{{ xs.url }}"
				data-src="{% get_media_prefix %}{{ img.file }}"
				data-srcset="{{ xs.url }} {{ xs.x }}w, {{ sm.url }} {{ sm.x }}w, {{ md.url }} {{ md.x }}w"
				data-sizes="auto"
				data-expand="50"
				loading="lazy"
				title="{% if img.title %}{{ img.title }}{% endif %}"
				alt="{% if img.description %}{{ img.description }}. {% endif %}Автор {{ img.portfolio.owner.name }}">
			{% empty %}
			<img src="{% get_media_prefix %}no-image.png">
			{% endthumbnail %}
			{% endthumbnail %}
			{% endthumbnail %}

			{% if img.title or img.description %}
			<figcaption>
				{% if img.title %}
				<h3 class="image-title">{{ img.title }}</h3>
				{% endif %}
				{% if img.description %}
				<p class="image-description">{{ img.description }}</p>
				{% endif %}
			</figcaption>
			{% endif %}
		</figure>

	{% if not is_mobile %}
	</a>
	{% endif %}

	{% endfor %}
</div>

{% endif %}
