{% extends 'exhibition/portfolio_detail.html' %}
{% load static %}
{% load cache %}
{% load custom_tags %}
{% load thumbnail %}


{% block meta_description %}{% if meta.description %}{{ meta.description }}{% else %}{{object.exhibitor.name}} - победитель дизайнерсокй выставки Сфера Дизайна {{exh_year}} в номинации "{{nomination.title}}"{% endif %}{% endblock %}

{% block meta_og_title %}{% if meta.title %}{{ meta.title }}{% else %}Победитель выставки {{object.exhibitor.name}}{% endif %}{% endblock %}
{% block meta_og_description %}{% if meta.description %}{{ meta.description }}{% else %}{{object.exhibitor.name}} - победитель дизайнерсокй выставки Сфера Дизайна {{exh_year}} в номинации "{{nomination.title}}"{% endif %}{% endblock %}
{% block meta_og_image %}{% if portfolio %}{{ block.super }}{% endif %}{% endblock %}

{% block title %}{{ main_title }} {{exh_year}} {{separator}} Номинация "{{nomination.title}}"{% endblock %}

{% block page_title %}
<div class="sub-title">Номинация</div>{{ nomination.title }}

{% if user.is_staff and portfolio %}
	<a class="admin-edit-link" href="{% url 'portfolio'|admin_change_url portfolio.id %}"><svg><use xlink:href="#edit-icon"></use></svg></a>
{% endif %}
{% endblock page_title %}


{% block content %}

	{% cache cache_timeout portfolio_list exh_year nomination_slug is_mobile %}

	<div class="portfolio-container">

		<div class="nomination-meta flex-content">

			{% if nomination.description %}
			<div class="nomination-description">{{ nomination.description|safe }}</div>
			{% endif %}

			{% if exhibitors %}

				<section class="exhibitors-list">
					<h2>список участников</h2>
					<ol>
						{% for e in exhibitors %}
						<li><a href="{{ e.get_absolute_url }}"><h3>{{ e.name }}</h3></a></li>
						{% endfor %}
					</ol>
				</section>

			{% else %}

				{% if object and not portfolio %}

				<section class="winner-detail">
					<h2>победитель <a class="winner-name" href="{{ object.exhibitor.get_absolute_url }}"><b>{{ object.exhibitor.name }}</b></a></h2>
					{% if object.exhibitor.logo %}
					<div class="logo participant-logo">
						{% thumbnail object.exhibitor.logo "300x300" as logo %}
							<img src="{{ logo.url }}" loading="lazy">
						{% empty %}
							<img src="{% get_media_prefix %}no-image.png">
						{% endthumbnail %}
					</div>
					{% endif %}
				</section>

				{% endif %}

				{% if portfolio %}

				<h2>{{ portfolio.title }}</h2>
				<p class="portfolio-owner">Автор работы: <a href="{{ portfolio.owner.get_absolute_url }}">{{ portfolio.owner }}</a></p>
				<div class="portfolio-description description">{{ portfolio.description|safe }}</div>

				{% endif %}

			{% endif %}

		</div>

		{% include "exhibition/images_list.html" %}

	</div>

	{% endcache %}

	{% if portfolio %}
		{% include "rating/rating_form.html" %}
		{% include "rating/review.html" %}
	{% endif %}

{% endblock content %}


{% block extra_container %}

	{% if not is_mobile and portfolio %}
		{% cache cache_timeout portfolio_slider exh_year nomination_slug %}
		{% include "exhibition/gallery.html" %}
		{% endcache %}
	{% endif %}

	<!-- Контейнер для диалоговых окон -->
	<div id="alertContainer" class="hidden centered"></div>

{% endblock extra_container %}

