{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block scripts %}
<script src="{% static 'js/lazysizes.min.js' %}"></script>
{% endblock %}

{% block header %}
<h1>Номинация: "{{ nomination }}"</h1>
{% endblock header %}

{% block content %}
	<div class="content">
		<a href="{{parent_link}}" class="back-link"><svg class="icon arrow-icon"><use xlink:href="#arrow-icon"></use></svg>&nbsp;Назад</a>

		<div class="nomination-description">{{ nomination.description|safe }}</div>

		{% if exhibitors %}

			<section class="exhibitors-list">
				<h2>Список участников</h2>
				<ol>
				{% for e in exhibitors %}
					<li><a href="{{ e.get_absolute_url }}"><h3>{{ e.name }}</h3></a></li>
				{% endfor %}
				</ol>
			</section>

		{% else %}

			{% if object and not portfolio %}
			<section class="winner-detail">
				<h2 class="winner-title">{{ object.exhibitor|verbose_name  }}:</h2>
				<a class="winner-name" href="{{ object.exhibitor.get_absolute_url }}"><h3>{{ object.exhibitor.name }}</h3></a>
				<div class="winner-description">{{ object.exhibitor.description|safe }}</div>
			</section>
			{% endif %}

			{% if portfolio %}
			<section class="portfolio">
				<h2>{{ portfolio.title }}</h2>
				<div>Автор работы: <a href="{{ portfolio.owner.get_absolute_url }}">{{ portfolio.owner }}</a></div>
				<div class="portfolio-description description">{{ portfolio.description|safe }}</div>

				{% if portfolio.images %}
				<div class="portfolio-list my-3">
					{% include "exhibition/images_list.html" %}
				</div>
				{% endif %}

			</section>
			{% endif %}

		{% endif %}
	</div>
{% endblock %}
