{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% load cache %}
{% load thumbnail %}

{% block title %}{{ block.super }} {{separator}} {{page_title}} {% if exh_year != 'all' %}{{ exh_year }}{% else %}за все годы{% endif %}{% endblock %}


{% block page_title %}
	{{ page_title }} {% if exh_year != 'all' %}{{ exh_year }}{% else %}за все годы{% endif %}
{% endblock page_title %}

{% block link %}
		<a href="#sidebarPrimary" class="sidebar-toggler d-lg-none" tabindex="-1" data-bs-toggle="offcanvas" aria-controls="sidebarPrimary">
			<svg class="icon bi bi-filter-right left"><use xlink:href="#filter-icon"></use></svg>
			выбрать год
		</a>
{% endblock link %}

{% block sidebar %}
<div id="yearsFilter" class="sidebar-inner">
	<ul class="nav flex-column">
		<li class="nav-title mb-2 {% if exh_year == 'all' %}active{% endif %}"><a href="/{{absolute_url}}/">все годы</a></li>
		{% for e in exhibitions_list %}
		<li class="nav-title my-2 {% if exh_year and exh_year == e.exh_year|stringformat:'s' %}active{% endif %}">
			<a href="/{{absolute_url}}/{{e.exh_year}}/">{{ e.exh_year }}</a>
		</li>
		{% endfor %}
	</ul>
</div>
{% endblock sidebar %}


{% block content %}

	{% block person %}

	{% cache 2592000 persons absolute_url exh_year %}

	<div class="grid-container row">
		{% for person in object_list %}
		<a class="grid-cell col-6 col-sm-4 col-md-3 col-lg-4 col-xl-3" href="{{ person.get_absolute_url }}">

			<div class="person-logo ratio ratio-1x1">
				{% thumbnail person.logo "150x150" as logo_1x %}
				{% thumbnail person.logo "300x300" as logo_2x %}
				<img class="lazyload"
					data-src="{{ logo_1x.url }}"
					data-srcset="{{ logo_1x.url }} {{ logo_1x.x }}w, {{ logo_2x.url }} {{ logo_2x.x }}w"
					data-sizes="auto"
					loading="lazy"
					title="{{ person.name }}"
					alt="{{ person.name }}">
				{% empty %}
				<img src="{% get_media_prefix %}no-person.png">
				{% endthumbnail %}
				{% endthumbnail %}
			</div>
			<h4 class="person-title">{{ person }}</h4>
		</a>
		{% empty %}
			<h3>пока не определены!</h3>
		{% endfor %}
	</div>

	{% endcache %}

	{% endblock person %}

{% endblock content %}
