{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% load cache %}
{% load thumbnail %}


{% block header %}
<h1>{% if object_list.0.cat_title %}{{ object_list.0.cat_title }}{% else %}Категория пустая!{% endif %}</h1>
{% endblock%}

{% block site_title %}
{{ block.super }}
<a href="#" class="filter-link">фильтры</a>
{% endblock site_title %}

{% block content %}

	{% block sidebar %}

	{% if filter_attributes %}
	<div id="sidebar" class="left-side">
		<h3 class="filter-title">фильтры</h3>
		<button type="button" class="sidebar-close btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

		<form class="filters-block" action="{% url 'nomination-detail-url' absolute_url %}" method="get" name="projects-filter">

			{% for atttribute in filter_attributes %}
			<div class="filter-attributes-block">
			<h4>{{atttribute.0.group_name}}</h4>
			<ol class="{{atttribute.0.group}}-filters-group filters-group">
				{% for item in atttribute %}
				<li class="form-check form-switch">
					<input class="form-check-input" id="{{item.group}}-{{item.id}}_id" type="checkbox" name="filter-group" value="{{ item.id }}">
					<label class="filter-checkbox form-check-label" for="{{item.group}}-{{item.id}}_id">{{ item.name }}</label>
				</li>
				{% endfor %}
			</ol>
			</div>
			{% endfor %}

			<button class="form-control" type="submit" disabled="disabled">Показать все</button>

		</form>
	</div>
	{% endif %}

	{% endblock sidebar %}

	<div class="content">

		{% if object_list %}
		{% cache 3600 projects absolute_url page_obj.number %}

		<div class="projects-list grid">
			{% for e in object_list %}
				{% if e.cover %}
				{% with e.title as project_title %}
				<a id="project-{{e.id}}" class="grid-cell" href="{{ e.get_absolute_url }}" title="{{ project_title }}">
					<figure>
						{% thumbnail e.cover "320" crop="center" as xs %}
						{% thumbnail e.cover "576" crop="center" as sm %}
						<img class="project-cover lazyload"
							data-src="{% get_media_prefix %}{{e.cover}}"
							data-srcset="{{ xs.url }} {{ xs.x }}w, {{ sm.url }} {{ sm.x }}w"
							data-sizes="auto"
							loading="lazy"
							title="{{ project_title }}"
							alt="{% if project_title %}{{ project_title }}. {% endif %}Автор проекта: {{ e.owner }}">
						{% endthumbnail %}
						{% endthumbnail %}

						<figcaption class="img-title centered">
							<h2 class="project-title">{{project_title }}</h2>
							{% if e.owner %}
							<div class="subtitle">{{ e.owner }}</div>
							{% endif %}
							{% if e.average > 0 %}
							<div class="portfolio-rate centered">
								<span class="rate-counter">{{e.average|stringformat:".1f"}}</span>
								<svg class="rate-star"><use xlink:href="#star-icon"></use></svg>
							</div>
							{% endif %}
						</figcaption>

					</figure>
				</a>
				{% endwith %}
				{% endif %}
			{% endfor %}
		</div>

		{% include "pagination.html" %}

		{% endcache %}

		{% else %}
			<a class="back-link" href="/category/"><svg class="icon arrow-icon"><use xlink:href="#arrow-icon"></use></svg>&nbsp;Вернуться к списку категорий</a>
		{% endif %}

	</div>
{% endblock content %}