@import vars
@import ../mixins
@import ../reset
@import main
@import navigation
@import ../controls
@import ../preloader
//
// @import "../../../node_modules/bootstrap/scss/root"



#site-header
	position: relative
	display: flex
	flex-wrap: wrap
	align-items: center
	padding-top: 1.5vh !important

	.back-link
		position: absolute
		top: 2.5vw
		right: 2.5vw
		display: flex
		align-items: center

#header
	.back-link
		display: block
		flex: 1
		margin-right: 3vw
		margin-bottom: 2vw
		text-align: right
		text-transform: uppercase
		font-size: 0.75em
		color: var(--bs-body-color)
		svg
			stroke: var(--main-color)

	.cover
		width: 100%
		height: 100vh
		background-size: cover
		background-position: center
		&~.brand-block
			position: absolute
			top: 3vw
			left: 0
			padding: 0 8vw
			&~.navigation
				position: absolute
				//background-color: #fff
				top: 50%
				right: 4vw
				//padding: 4vh
				transform: translate(0, -50%)
				flex-direction: column
				align-items: flex-end
				justify-content: space-evenly
				.nav-link
					padding: 1vh 0
					margin: 1vh 0
					font-size: 1rem
					border-top: none
					color: var(--link-color)
					letter-spacing: 1px
					text-align: right
					&:hover
						border-color: var(--link-hover-color) !important
						color: var(--main-color) !important

				+media-breakpoint-down(md)
					right: 50%
					transform: translate(50%, -50%)
					width: 80%
					.nav-link
						font-size: 1rem
						text-transform: uppercase
						letter-spacing: normal

				+media-breakpoint-down(sm)
					.nav-link
						font-size: 1.4rem

				@media (max-width: 991.98px) and (orientation: landscape)
					top: 56%
					.nav-link
						font-size: 1rem

				@media (max-width: 575.98px) and (orientation: landscape)
					display: none

				&::before
					border: none

		&::after
			+pseudo(absolute)
			background-color: $cover-overlay-bg

		.scroll-down
			position: absolute
			bottom: 1rem
			left: 50%
			transform: translate(-50%, 0)
			flex-direction: column
			color: white !important
			font-size: 0.9rem
			transition: 300ms opacity ease
			animation: scroll-down-animation 2s infinite ease-in-out
			opacity: 0.7
			z-index: 1
			cursor: pointer
			&:hover
				opacity: 1
			@keyframes scroll-down-animation
				0%
					transform: translate(-50%, 0)
				20%
					transform: translate(-50%, 50%)
				40%
					transform: translate(-50%, 0)

			&:hover
				opacity: 1

			svg.icon
				stroke: #fff


	.brand-block
		justify-content: flex-start
		min-height: 6rem
		width: 100%
		padding: 2vw 3vw
		padding-right: 5rem
		.brand-logo
			width: 40%
			max-width: 500px
			mix-blend-mode: plus-lighter
			img
				width: 100%
				height: auto

		&.with-title .brand-logo
			width: 20%
			max-width: 100px
			+media-breakpoint-down(sm)
				width: 150px

		+media-breakpoint-down(sm)
			flex-direction: column
			min-height: 6rem
			margin-top: 2vw
			padding-right: 0
			.brand-logo
				width: 80%
				max-width: 200px

			h1
				display: none
			.back-link
				text-align: left
				flex: 100%


.navigation
	position: relative
	&::before
		content: ""
		position: absolute
		+push--absolute(1px, 0, 1px, 0)
		border: 1px solid var(--body-color)
		opacity: 0.8
		border-left: 0
		border-right: 0
		z-index: -1

	.nav-link
		padding: 0.75em 1em
		font-size: 0.8rem
		border-left: 0
		border-right: 0
		text-transform: uppercase
		&:hover
			color: var(--link-hover-color) !important

		+media-breakpoint-down(sm)
			font-size: 0.75em
			text-transform: lowercase
			letter-spacing: normal

	.button-group
		flex-wrap: wrap
		width: 100%
		overflow: hidden
	.category-link
		flex: 0 1 auto
		// min-width: 100px
		height: 100%
		font-size: 0.65rem
		&.is-checked
			color: var(--bs-body-color)
			font-weight: 500

	.nav-link:not(.category-link):hover
		border-color: var(--highlight-border-color) !important

.portfolio-container.loaded
	.loader
		display: none !important

.designer-page.portfolio
	.navbar-toggler
		top: 2vw
		right: 2vw
		padding: 1vw
		+media-breakpoint-down(sm)
			svg.icon
				width: 30px
				height: 30px


.designer-page:not(.portfolio)
	.container
		display: block
		max-width: 1200px
		margin-bottom: 0
		header
			padding: 0 0 4vh

	section
		padding: 8vh 4vw

		>div
			width: 100%
			flex: auto

		&.container
			display: flex
			+push--auto


	.navigation
		margin: 2rem 0
		.nav-link
			border: var(--border-thickness) solid transparent
			border-left: 0
			border-right: 0
			&:hover
				border-color: var(--link-hover-color) !important

		+media-breakpoint-down(sm)
			display: none


	.about-block
		flex-direction: unset
		header h2
				text-align: left

		+media-breakpoint-down(md)
			&.container
				flex-direction: column
			.designer-logo
				margin: auto
			.about-content
				margin: 3em auto
				max-width: 450px

		.designer-logo
			flex: 0 1 40%
			max-width: 450px
			padding-bottom: 8vh

		.about-content
			border-left: 5px solid var(--border-color)
			margin-left: 3rem
			margin-top: 0
			padding-left: 1rem
			flex: 1

	.portfolio-block
		padding-left: 1rem
		padding-right: 1rem
		color: var(--light-color)
		background-color: var(--dark-color)
		border-bottom: var(--border-thickness) solid var(--body-color)
		overflow: hidden
		header
			display: table
			margin: 0 auto 2rem
			h2
				color: var(--light-color)
			&~*
				margin: auto
			p
				font-weight: 500
				padding: 1rem

		.slider-container
			position: relative
			width: 100%
			margin-bottom: 4rem
			opacity: 1
			transition: all 300ms ease-in
			&.peppermint
				+media-breakpoint-up(sm)
					width: 60%
					overflow: visible
				+media-breakpoint-up(xl)
					width: 34%
					margin-left: 16%
					ul.peppermint-dots
						left: 100%

			&.peppermint-inactive
				visibility: hidden
				opacity: 0
			&.peppermint-active
				visibility: visible

			.peppermint-dots
				border-color: var(--light-color)
				&.peppermint-active
					background-color: var(--light-color)

			figure
				position: relative
				display: flex
				flex-direction: column
				width: 100%
				max-width: 900px
				margin: 0 1rem
				background-color: var(--bs-white)
				.ratio img
					object-fit: cover

			figcaption .meta
				color: var(--light-color)


		.controls-block
			+push--absolute(0,-30%,0,-30%)
			+media-breakpoint-up(xl)
				left: -40%
				right: -140%
			svg.icon
				width: 3rem
				height: 3rem
				padding: 0.5rem
				stroke: var(--nav-link-color)
				stroke-width: var(--border-thickness)
				&:hover
					background-color: var(--main-color)

		.all-portfolio-link
			display: table
			color: var(--light-color)
			border-color: var(--light-color)


	.partners-block
		background-color: var(--section-partners-bg)
		header h2
			color: var(--section-partners-color)
		h3
			color: var(--section-partners-color)
			opacity: 0.7

		.partners-content
			flex-wrap: wrap
			margin: 4vh auto 0
			//border-radius: 1rem 1rem
			.partner-logo
				flex: 0 0 100px
				width: 100px
				height: 100px
				background-color: var(--section-partners-bg)
				img
					object-fit: contain

	.achievements-block
		background-color: var(--section-achievements-bg)
		color: var(--section-achievements-color)

		header h2
			color: var(--section-achievements-color)

		h3
			opacity: 0.7

		.container >div
			padding: 4vw
			//border: var(--border-thickness) solid var(--section-achievements-color)
			margin-bottom: 4vh
			&:last-child
				margin-bottom: 0
		ul li
			@extend h4
			opacity: 0.7
			//text-transform: lowercase
			list-style-type: square
			span
				opacity: 0.7
				font-size: 0.8em
				//@extend .text-weight
				font-weight: 300

	.customers-block
		background-color: var(--section-customers-bg)

		header
			margin-bottom: 2vh
			h2
				color: var(--section-customers-color)

		.col
			flex: 1 0 auto
			width: 100%
			margin: 0 0 2vh
			+media-breakpoint-up(lg)
				width: 50%

		.customer
			display: flex
			align-items: center
			padding: 2%
			//background-color: var(--light-color)
			.logo
				flex: 1 0 75px
				max-width: 100px
				margin-right: 1.5rem
				+media-breakpoint-down(sm)
					max-width: 75px
			.info
				color: var(--section-customers-color) !important
				//border-left: 3px solid var(--border-color)
				flex: 1

				>p
					padding-bottom: 0

				span
					font-style: italic

				.btn
					padding: 0.5em 1em
					text-transform: initial
					color: var(--section-customers-color) !important


#site-footer
	margin-top: auto
	// border-top: var(--border-thickness) solid var(--body-color)
	background-color: var(--dark-color)

#copyright
	padding: 0.25rem
	color: var(--light-color)
	background-color: var(--dark-color)
	text-align: center


.contacts-block
	padding: 4vh 0
	color: var(--section-contacts-color)
	background-color: var(--section-contacts-bg)
	header h2
		color: var(--section-contacts-color)

	.contacts-content
		width: 100%
		>div:first-child, >div:last-child
			flex: 0 1 40%
			max-width: 280px

		a, a:hover
			color: var(--section-contacts-color) !important

		svg.icon
			fill: var(--section-contacts-color)

		.main-info span
			display: block
			margin-bottom: 0.5em
			svg.phone-icon
				height: 18px

		.socials
			margin: 1rem auto auto
			.social-link
				display: inline-block
				margin: 0 0.5em

		.get-in-touch
			svg.icon
				margin-right: 8px

			.btn
				text-align: left
				white-space: nowrap
				color: var(--section-contacts-color)

			a
				text-decoration: none
				color: var(--section-contacts-color) !important

				&:hover
					color: var(--link-color) !important

			>*
				margin-bottom: 0.75rem

		.main-info,
		.get-in-touch
			svg
				width: 24px
				height: 24px


		+media-breakpoint-down(lg)
			margin: auto
			flex-direction: column
			align-items: center
			>*
				margin-bottom: 1.5rem

			.socials
				margin-bottom: 2.5rem


/* Masonry styles */
#portfolioBlock
	margin: 2vw
	.grid-sizer,
	.grid-item
		width: 100%
		padding: 1vw
		+media-breakpoint-up(sm)
			width: 50%
		+media-breakpoint-up(lg)
			width: 33.333%
		+media-breakpoint-up(xxl)
			width: 25%

	.grid-item
		float: left
		&:hover
			color: inherit !important

	.grid-item img
		display: block
		max-width: 100%

	figure
		overflow: hidden
		border: var(--border-thickness) solid transparent
		transition: all 300ms ease-out
		img
			&:hover
				transform: scale(1.05)
		&:hover
			border-color: var(--link-hover-color) !important

.add-portfolio
	position: sticky
	top: 1rem

