{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="ru" class="{{ html_classes|to_string }}{% if is_mobile %} mobile{% else %} desktop{% endif %}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width">
	{% block meta %}
	<meta name="description" content="{% if meta.description %}{{meta.description}}{% else %}{{meta_default.description}}{% endif %}">
	<meta name="keywords" content="{% if meta.keywords %}{{meta.keywords}}{% else %}{{meta_default.keywords}}{% endif %}">
	{% endblock meta %}
	<link rel="preload" href="{% static 'fonts/corbel.woff2' %}" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="{% static 'fonts/corbelb.woff2' %}" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="{% static 'fonts/calibri.woff2' %}" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="{% static 'fonts/calibrib.woff2' %}" as="font" type="font/woff2" crossorigin>
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'favicons/site.webmanifest' %}">
	<link rel="mask-icon" href="{% static 'favicons/safari-pinned-tab.svg' %}" color="#160d32">
	<link rel="shortcut icon" href="{% static 'favicons/favicon.ico' %}">
	<meta name="apple-mobile-web-app-title" content="Сфера дизайна">
	<meta name="application-name" content="Сфера дизайна">
	<meta name="msapplication-TileColor" content="#160d32">
	<meta name="msapplication-TileImage" content="{% static 'favicons/mstile-144x144.png' %}">
	<meta name="msapplication-config" content="{% static 'favicons/browserconfig.xml' %}">
	<meta name="theme-color" content="#ffffff">


	<!-- CSS only -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/css/bootstrap.min.css" integrity="sha384-DhY6onE6f3zzKbjUPRc2hOzGAdEf4/Dz+WJwBvEYL/lkkIsI3ihufq9hk9K4lVoK" crossorigin="anonymous">
	<link href="{% md5url 'css/base.min.css' %}" rel="stylesheet" type="text/css" media="screen"/>

	{% block styles %}
	{% endblock %}

	<title>{% block title %}{{ main_title }}{% endblock %}</title>
</head>

<body>

	<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" style="display:none">
	{% block svg_icons %}
		<symbol id="arrow-icon" viewBox="0 0 24 24" fill="transparent" stroke-linejoin="round" stroke-linecap="round">
			<path d="M7 2 L17 12 L7 22"/>
		</symbol>
		<symbol id="close-icon" viewBox="0 0 24 24" stroke-linejoin="round" stroke-linecap="round">
			<line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line>
		</symbol>
		<symbol id="search-icon" width="30" height="30" viewBox="0 0 30 30" stroke-linejoin="round" stroke-linecap="round" stroke-width="1.5" fill="transparent">
			<circle cx="13" cy="13" r="10"/><path d="M20 20 L27 27"/>
		</symbol>
		<symbol id="burger-icon" height="30" viewBox="0 0 24 24">
			<path d="M1 4 h22 M1 12 h22 M1 20 h22"/>
		</symbol>
		<symbol id="close-icon" height="30" viewBox="0 0 24 24">
			<path d="M1 1 L23 23 M23 1 L1 23"/>
		</symbol>
		<symbol id="login-icon" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="1.5">
			<path d="M5.52 19c.64-2.2 1.84-3 3.22-3h6.52c1.38 0 2.58.8 3.22 3"/><circle cx="12" cy="10" r="3"/><circle cx="12" cy="12" r="10"/>
		</symbol>
		<symbol id="star-icon" width="20" height="20" viewBox="2 2 22 22">
			<polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon>
		</symbol>
		<symbol id="main-title" width="100%" height="100%" viewBox="0 -110 1000 140">
			<text>{{ main_title }}</text>
		</symbol>
	{% endblock svg_icons %}
	</svg>

	{% block navigation %}
		{% include "navbar.html" %}
	{% endblock navigation %}

	<div id="site-header">
		{# <div class="year-text">{{exhibitions_list.first.slug}}</div> #}
		<a id="branding" class="loading" href="/">
			{% block site_title %}
			<div class="brand-logo">
				<img src="{% get_media_prefix %}sd-logo-2.png" loading="lazy" alt="{{main_title}}">
			</div>
			{% endblock site_title %}
		</a>
	</div>

	<div class="container container-md loading">

		{% block header %}{% endblock header %}
		{% block content %}{% endblock content %}

	</div>

	{% block extra_container %}
	<!-- Контейнер для диалоговых окон -->
	<div id="alertContainer" class="hidden centered"></div>
	{% endblock extra_container %}

	<script src="{% md5url 'js/base.min.js' %}"></script>
	<!-- JavaScript Bundle with Popper.js -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js" integrity="sha384-BOsAfwzjNJHrJ8cZidOg56tcQWfp6y72vEJ8xQ9w6Quywb24iOsW913URv1IS4GD" crossorigin="anonymous"></script>

	{% block script %}
	<script>
	const alertContainer = document.querySelector('#alertContainer');
	</script>
	{% endblock %}


	<script>
		(async () => {
			if ('loading' in HTMLImageElement.prototype) {
				const images = document.querySelectorAll("img.lazyload");
				images.forEach(img => {
					if (img.dataset.src) {
						img.src = img.dataset.src;
						img.srcset = img.dataset.srcset;
					}
					img.classList.add('lazyloaded');
					img.classList.remove('lazyload');
				});

			} else {
				const lazySizesLib = await import("{% static 'js/lazysizes.min.js' %}");
				lazySizes.init();
			}
		})();
	</script>

</body>
</html>