{% extends 'base.html' %}

{% block meta_og_title %}{{ default_meta.title }} - Контакты{% endblock %}
{% block meta_description %}Для того, чтобы стать участником или партнером выставки "Сфера дизайна", заполните форму обратной связи{% endblock %}
{% block meta_og_meta_og_description %}Для того, чтобы стать участником или партнером выставки "Сфера дизайна", заполните форму обратной связи{% endblock %}
{% block meta_keywords %}как стать участником выставки, как стать партнером выставки{% endblock %}

{% block title %}{{ block.super }} | Контакты{% endblock %}

{% block page_title %}Обратная связь{% endblock page_title %}

{% block content %}{% include "contacts/feedback.html" %}{% endblock content %}