
<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a id="brand-logo" class="navbar-brand" href="/"><img src="{{ organizer.avatar.url }}" alt="Сфера Дизайна"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav align-items-center">

				{% if user.is_authenticated and user.is_staff %}
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/admin"><svg class="icon"><use xlink:href="#login-icon"></use></svg></a>
				</li>
				{% endif %}

				{% if exhibitions_list %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-expanded="false">Выставки</a>

					<ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						{% for e in exhibitions_list %}
						<li><a class="dropdown-item" href="{{ e.get_absolute_url }}">
							{{ e.date_start|date:"Y" }}
						</a></li>
						{% endfor %}
					</ul>
				</li>
				{% endif %}

				<li class="nav-item">
					<a class="nav-link" href="{% url 'exhibitors-list-url' %}">Участники</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'winners-list-url' %}">Победители</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'jury-list-url' %}">Жюри</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'partners-list-url' %}">Партнеры</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'contacts-url' %}">Обратная связь</a>
				</li>

			</ul>
		</div>
	</div>
</nav>
