{% extends 'base.html' %}
{% load static %}

{% if user.is_authenticated %}

	{% block page_title %}Портфолио успешно создано!{% endblock page_title %}

	{% block content %}

		<div><b>Владелец:</b> {{portfolio.owner}}</div>
		<div><b>Название портфолио:</b> {{portfolio.title}}</div>
		{% if portfolio.description %}
		<div><b>Описание портфолио:</b><div class="alert-light border">{{portfolio.description|safe}}</div></div>
		{% endif %}

		{% if portfolio.exhibition %}
			<div class="alert-primary" role="alert"><b>Заявленная выставка:</b>{{portfolio.exhibition}}</div>
			{% if portfolio.nominations.count %}
				<div class="my-3">
					<b>Номинации:</b>
					<ul class="list-group alert-success">
					{% for nom in portfolio.nominations.all %}
					<li class="d-flex align-center">
						<svg class="icon"><use xlink:href="#check-icon"></use></svg>
						<span>{{nom.title}}</span>
					</li>
					{% endfor %}
					</ul>
				</div>
			{% endif %}
		{% else %}
			{% if portfolio.categories.count %}
			<div class="my-3">
				<b>Выбранные категории:</b>
				<ul class="list-group alert-success">
				{% for cat in portfolio.categories.all %}
					<li class="d-flex align-center">
						<svg class="icon"><use xlink:href="#check-icon"></use></svg>
						<span>{{cat.title}}</span>
					</li>
				{% endfor %}
				</ul>
			</div>
			{% endif %}
		{% endif %}

		{% if portfolio.cover  %}<div><b>Обложка:</b> {{portfolio.cover.name}}</div>{% endif %}
		<div class="my-2">
			<b>Список загруженных файлов:</b>
			{% if files %}
				<ol class="list-group alert-light">
				{% for file in files %}
					<li class="d-flex align-center">
						<svg class="icon success-icon"><use xlink:href="#check-icon"></use></svg>
						<span>{{file.name}}</span>
					</li>
				{% endfor %}
				</ol>
			{% else %}
				<span class="alert-danger">Пусто!</span>
			{% endif %}
		</div>
		<p class="alert-warning">Важно!!! Информация будет модерироваться администратором сайта и появится на сайте позже.</p>
		<div class="controls-block mt-5">
			<a href="/account" class="btn btn-primary">В личный кабинет</a>
			<a href="/portfolio/edit/{{portfolio.id}}" class="btn btn-outline-primary">Изменить</a>
			<a href="{{request.META.HTTP_REFERER}}" class="btn btn-outline-primary" type="button">Новое</a>
		</div>
	{% endblock %}
{% endif %}
