{% extends 'base.html' %}

{% load static %}

{% if user.is_authenticated %}

	{% block page_title %}Портфолио успешно создано!{% endblock page_title %}

	{% block content %}

		<div>Участник: <b>{{portfolio.owner}}</b></div>
		<div>Название портфолио: <b>{{portfolio.title}}</b></div>
		<div>Описание портфолио: <b>{{portfolio.description}}</b></div>

		{% if portfolio.exhibition %}
		<div>Участие в выставке: <b>{{portfolio.exhibition}}</b></div>
		{% endif %}

		{% if portfolio.nominations.all %}
			<div>Заявленные номинации:
				<b><ul>
				{% for nom in portfolio.nominations.all %}
					<li>{{nom.title}}</li>
				{% endfor %}
				</ul></b>
			</div>
		{% endif %}

		<div>Список загруженных файлов:</div>
		<b>
		{% if files %}
			<ul>
			{% for f in files %}
				<li>{{ f.name }}</li>
			{% endfor %}
			</ul>
		{% else %}
			<p>Фото отсутствует!</p>
		{% endif %}
		</b>
		<p>Важно!!! Информация будет модерироваться администратором сайта</p>
		<a href="{{request.META.HTTP_REFERER}}"><button class="btn btn-outline-primary" type="button">Назад</button></a>
	{% endblock %}
{% endif %}
