{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% load crispy_forms_tags %}

{% block meta %}
{{ block.super }}
<meta name="robots" content="noindex">
{% endblock meta %}

{% block page_title %}{% if user.is_authenticated %}{% if portfolio_id %}Изменить{% else %}Добавить новое{% endif %} портфолио{% else %}Доступ закрыт{% endif %}{% endblock page_title %}


{% block content %}

	{% if user.is_authenticated %}
	<p>Вы вошли как: <i><b>{{user.username}}</b> ({{user.first_name}} {{user.last_name}})</i></p>
	<form id="portfolio_form" class="upload-form" autocomplete="off" enctype="multipart/form-data" method="post">
		{% csrf_token %}
		{% crispy form %}
		{% crispy formset formset_helper %}

		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Сохранить</button>
			<a href="/account" class="btn btn-outline" type="button">Назад</a>
		</div>
	</form>
	{% else %}
		<p>Для выгрузки портфолио на сайт Вы должны быть зарегистрированы как участник выставки и пройти модерацию.</p>
		<a href="{{ signup_url }}">Зарегистрироваться</a>
	{% endif %}

{% endblock content %}

{% block extra_container %}
	<div class="modal fade" id="progressModal" aria-hidden="true" aria-labelledby="progressModalTitle" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="progressModalTitle">Загрузка фото...</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="modal-message"></div>
					<div class="progress" style="height:2em;">
						<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
				</div>
			</div>
		</div>
	</div>
{% endblock extra_container %}


{% if user.is_authenticated %}

{% block script %}
	<script src="{% md5url 'js/project-upload.min.js' %}"></script>
{% endblock script %}

{% endif %}

