[Unit]
Description=gunicorn socket for %i

[Socket]
ListenStream=/run/gunicorn.%i.sock
SocketUser=starck
SocketGroup=starck
SocketMode=0660

[Install]
WantedBy=sockets.target
