[Unit]
Description=gunicorn daemon for sd43
After=network.target postgresql.service redis-server.service
Requires=postgresql.service redis-server.service

[Service]
User=starck
Group=starck
WorkingDirectory=/home/starck/domains/sd43.ru
Environment="PATH=/home/starck/domains/sd43.ru/venv/bin"
Environment="DJANGO_SETTINGS_MODULE=crm.settings"
Environment="PYTHONPATH=/home/starck/domains/sd43.ru"

ExecStart=/home/starck/domains/sd43.ru/venv/bin/gunicorn \
    --access-logfile - \
    --workers 3 \
    --bind unix:/run/gunicorn.sd43.sock \
    crm.wsgi:application

ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
