{% load static %}
{% load custom_tags %}

{% block comments %}

<section id="comments-container">
	<header class="comments-title"><h2>Комментарии</h2></header>
	{% if user.is_authenticated %}
	<div class="comments-counter">
		Всего: <span class="sub-title">{{ portfolio.comments_portfolio.count }}</span>
	</div>
	<form class="review-form mt-4" action="{% url 'rating:add-review' portfolio.id %}" method="post" name="review">

		{% csrf_token %}
		<input class="parent-control" type="hidden" name="parent" value>
		<input class="group-control" type="hidden" name="group" value>

		<textarea class="form-control" name="message" placeholder="Ваш комментарий..." cols="1" rows="1"></textarea>
		<button class="btn btn-success" type="submit">Отправить</button>
	</form>
	{% endif %}

	{% for review in portfolio.root_comments %}
	<article id="{{review.id}}" class="porfolio-comment">

		<div class="comment-block">
			<h3 class="comment-block-author">{{ review.fullname }}</h3>
			<div class="comment-block-datetime">{{ review.posted_date|date:"d b Y" }}</div>
			<p class="comment-block-text">{{ review.message }}</p>
		</div>

		{% if user.is_authenticated %}
		<a class="reply-link" data-id="{{review.id}}" data-group="{{review.id}}" data-author="{{review.fullname}}">Ответить</a>
		{% endif %}

	</article>

		{% for subreview in review.group_comments.all %}
		<article id="{{subreview.id}}" class="porfolio-comment subcomment">

			<div class="comment-block">
				<h3 class="comment-block-author">{{ subreview.fullname }}</h3>
				<div class="comment-block-datetime">{{ subreview.posted_date|date:"d b Y" }}</div>
				<p class="comment-block-text">{{ subreview.message }}</p>
			</div>

			{% if user.is_authenticated %}
			<a class="reply-link" data-id="{{subreview.id}}" data-group="{{review.id}}" data-author="{{subreview.fullname}}">Ответить</a>
			{% endif %}

		</article>
		{% endfor %}

	{% endfor %}
</section>

{% endblock comments %}